
@font-face {
    font-family: 'Blanka', sans-serif;
    src: url(/src/fonts/Blanka-Regular.otf);
}

#about-header{
    margin:0;
    background:#F7E5FC;
    padding-top: 3vh;
    height: 10vh;
}

#about-page{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, rgba(247, 229, 252, 0.93) 0%, rgba(255, 255, 255, 0.93) 100%);
}

#about-title{
    text-align: center;
    margin: 5vh;
    font-size: 2rem;
}

.about-rebu, .about-rebu-title {
    color: #7B2292;
    font-family: 'Blanka', sans-serif;
}

.about-rebu-title {
    font-size: 1.1em;
}

.about-rebu {
    font-size: 1.3em;
}

.about-paragraph{
    text-align: justify;
    line-height: 5vh;
    width: 80vw;
}

.made-by {
    color: #7B2292;
}

.about-desktop-btn-div, #about-img, .return-button-desktop {
    display: none;
}

@media only screen and (min-width: 768px) {
    #about-title {
        font-size: 2rem;
        color: #2D2D2D;
    }

    .paragraphs-section {
        width: 60%;
    }

    .about-paragraph {
        line-height: 6vh;
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1024px) {
    #about-header {
        display: none;
    }

    #about-page {
        flex-wrap: wrap;
        height: 100vh;
    }

    #about-img {
        display: block;
        min-width: 35vw;
        height: 67vh;
        margin-top: 13vh;
        margin-right: 5.5vw;
        align-self: flex-end;
    }

    #about-title {
        align-self: flex-start;
        margin-left: -0.5vw;
        color: #2F2F2F;
        font-size: 2.3rem;
    }

    #about-text {
        margin-left: 5vw;
        display: flex;
        flex-direction: column;
        margin-top: 4vh;
    }
    
    .about-paragraph {
        width: 40vw;
        color: #2F2F2F;
        font-size: 1.3rem;
        line-height: 2.5rem;
        margin-bottom: 0;
    }

    .paragraphs-section {
        width: 42vw;
        gap: 0.5rem;
    }

    .return-btn-tablet-mobile {
        display: none;
    }

    .made-by {
        color: #7B2292;
    }

    .return-button-desktop {
        color: white;
        display: block;
        background: #822f97;
        width: 10vw;
        height: 5.5vh;
        font-size: 1.5rem;
        border-radius: 40px;
        border: transparent;
    }

    .return-button-desktop:hover {
        cursor: pointer;
        background-color: #500f60;
    }
    
    #about-desktop-btn-div {
        /* height: 15vh; */
        background: transparent;
        position: absolute;
        width: auto;
        /* display: flex;
        justify-content: center;
        align-items: center; */
        bottom: 1vh;
    }

}

