/* estilização da página principal main */
body {
  text-align: center;
  margin:0;
  /* background: linear-gradient(to bottom right, rgb(199, 163, 232), #49AAD7, rgb(233, 173, 233), rgb(199, 163, 232)) no-repeat;
  background-size: cover;
  background-position: center; */
  height: 100%;
}
body{
  margin: 5%;
}

.container-registration{
  border:2px solid black;
  flex-wrap: wrap;
}

/* estilização dos campos do nome, email e senha os campos de imput*/
.registration-input{
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

/* logo de coração com lampada */
.one-logo{
  align-self: center;
}

/* classe da imagem de coração com o botão voltar */
.btnback{
  display: flex;
  align-items: center;
  margin-left: 32%;
  width: 50%;
}

/* botão voltar */
#btn-back{
  margin-right: 20%;
}

.input{
  width: max-content;
  height: max-content;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
}


.button{
  padding: 10px;
  width: 15rem;
  background-color: #49AAD7;
  color: white;
  font-size: medium;
  border: 2px #49AAD7 solid;
  
}