* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  background-color: #f0fbff;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100vh;
}

/* mobile first - responsividade - mobile */

@media screen and (min-width: 320px) and (max-width: 768px) {
  /* esconder imagem do desktop */
  .img-logo-desktop {
    display: none;
  }

  /* logo do mobile */
  .img-logo-mobile {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
  }

  /* transição da logo */
  @keyframes flip {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }

  .imgFlip {
    animation: flip 2s;
  }

  /* transição do form */

  @keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(100vw);
    }
  }

  .bounce {
    animation: bounce 2s alternate-reverse;
    -webkit-animation: bounce 1.5s alternate-reverse;
  }

  .form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../imagens/fundo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 100vh;
  }

  .title-login {
    font-size: 1rem;
    color: #14617d;
    margin-bottom: 2rem;
    margin-top: -3rem;
    margin-right: 1.6rem;
  }

  .inputs {
    width: 8rem;
    color: #14617d;
    font-size: 0.9rem;
    margin: 0 2rem 1.4rem -2rem;
  }

  .input-email,
  .input-password {
    width: 12.5rem;
    height: 2rem;
    border-radius: 0.2rem;
    border: none;
    padding-left: 0.3rem;
    box-shadow: 2px 5px 0 0 rgba(0, 0, 0, 0.1);
  }

  .input-email:focus,
  .input-password:focus {
    outline: none;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .btn-login {
    width: 9.6rem;
    height: 1.5rem;
    border-radius: 0.2rem;
    border: none;
    background-color: #2e94b9;
    color: #fff;
    font-size: 0.9rem;
    text-decoration: none;
    margin-bottom: 0.8rem;
    margin-top: 0.5rem;
    padding-top: 0.7rem;
    box-shadow: 2px 5px 0 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .btn-google {
    width: 9.6rem;
    height: 2rem;
    border-radius: 0.2rem;
    border: none;
    background-color: #fff;
    color: #2e94b9;
    font-size: 0.9rem;
    text-decoration: none;
    text-align: center;
    margin-bottom: 0.8rem;
    margin-top: 0.5rem;
    box-shadow: 2px 5px 0 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;

  }

  .img-google {
    width: 1rem;
    height: 1.2rem;
  }

  .btn-register {
    width: 8rem;
    height: 1.5rem;
    border-radius: 0.2rem;
    border: none;
    background-color: #4bd268;
    color: #fff;
    font-size: 0.9rem;
    text-decoration: none;
    margin-top: 3rem;
    margin-left: 0.8rem;
    padding-top: 0.7rem;
    box-shadow: 2px 5px 0 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
}

/* desktop */
@media screen and (min-width: 769px) {

  body {
    display: flex;
    background-color: #f0fbff;
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  /* esconder imagem do mobile */
  .img-logo-mobile {
    display: none;
  }

  /* esconder o título do mobile */
  .title-login {
    display: none;
  }

  div {
    display: flex;
    flex-direction: row;
  }

  .img-logo-desktop {
    display: flex;
    width: 37.5rem;
    height: 21.5rem;
    padding-right: 8rem;
    margin-top: 3rem;
  }

  .form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 30rem;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 2px 5px 0 0 rgba(0, 0, 0, 0.1);
  }

  .inputs {
    width: 8rem;
    color: #14617d;
    font-size: 0.9rem;
    margin: 0 7rem 1.4rem -2rem;
  }

  .input-email,
  .input-password {
    width: 16rem;
    height: 2.8rem;
    border-radius: 0.2rem;
    border: none;
    padding-left: 0.3rem;
    box-shadow: 2px 5px 0 0 rgba(0, 0, 0, 0.1);
  }

  .input-email:hover,
  .input-password:hover {
    background-color: #f0fbff;
  }

  .input-email:focus,
  .input-password:focus {
    outline: none;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .btn-login {
    width: 9.6rem;
    height: 1.5rem;
    border: none;
    background-color: #2e94b9;
    color: #fff;
    font-size: 0.9rem;
    text-decoration: none;
    margin-bottom: 0.8rem;
    margin-top: 0.5rem;
    padding-top: 0.7rem;
    box-shadow: 2px 5px 0 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .btn-google {
    width: 9.6rem;
    height: 2rem;
    border: none;
    background-color: #fff;
    color: #2e94b9;
    font-size: 0.9rem;
    text-decoration: none;
    text-align: center;
    margin-bottom: 0.8rem;
    margin-top: 0.5rem;
    box-shadow: 2px 5px 0 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
  }

  .img-google {
    width: 1rem;
    height: 1.2rem;
    margin-left: 0.2rem;
    margin-top: 0.2rem;
  }

  .btn-register {
    width: 8rem;
    height: 1.5rem;
    border: none;
    background-color: #4bd268;
    color: #fff;
    font-size: 0.9rem;
    text-decoration: none;
    margin-top: 3rem;
    margin-left: 0.8rem;
    padding-top: 0.7rem;
    box-shadow: 2px 5px 0 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .btn-login:focus,
  .btn-google:focus,
  .btn-register:focus {
    outline: none;
  }
}
