:root {
  --branco: aliceblue;
  --roxo: #5E17EB;
  --violeta: #9B59B6;
  --lilas: #A87CFE;
  --black: #000000;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body, html {
  background: linear-gradient(#5E17EB, #A87CFE);  
  height: 100vh;
  width: 100vw;
}
  
main {
  height: 100vh;
  width: 100vw;
  display: flex;      
  justify-content: center;
  align-items: center;    
}

.container {  
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
}

.login-container {    
  color: var(--branco);
  background: rgb(255, 255, 255, 0.2);
  padding: 1vw; 
  width: 90vw;
  height: 72vh;
  border-radius: 20px;   
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;  
}

.logo-login {
  display: block;
  width: 60vw; 
  margin-bottom: 3vh;
}

.login-form {
  display: block;
  margin: 1vh 0 1vh;
  margin-top: -4vh;
  
}
.email-pass {  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;    
}

.login-label {
  margin-bottom: 5vh;
  width: 90%;
  cursor: text;  
}

.input {
  width: 90%;
  height: 3vh;
  margin: 0;
  border: 0;
  border-bottom:solid 2px var(--branco);
  padding: 1vw;
  outline: 0;
  background-color: rgb(255, 255, 255, 0);
  font-size: 1.3em;
}

#txtEmail,#txtPassword::placeholder {
  color: var(--branco);
  text-align: center;   
}

.signup-forgot{  
  display: flex;
  justify-content: space-evenly;   
  margin: 0 0 2vh;  
  margin-top: -4vh;
}

.login-link {
  font-size: 0.95em;
  text-decoration: none;
  margin-top: 1vh;
  color: var(--branco);
}

.btn-login {
  width: 56vw;
  height: 6vh;
  padding: 1vw 2vw;
  margin: 4vh 0 -2vh;
  border-radius: 20px;
  color: var(--violeta);
  border: 0;
  font-weight: bolder;
  text-transform: uppercase;    
}

.btn-login:hover {
  background-color: var(--roxo);
  box-shadow: 0px 0px 20px var(--roxo);
  transform: translate(0px, -2px);
  transition: transform 0.5s;
  color: var(--branco);
  cursor:  pointer;
}

.login-link:hover {
  color: var(--roxo);
  transform: translate(0px, -2px);
  transition: transform 0.5s;
}

.line-container {
  display: flex;
  width: 90%;
  margin: -3vh 0 2vh;  
} 

.txt-line {
  flex: 0.3 1 0%;
  align-self: center;
  text-align: center;   
  font-size: 0.8em;
  text-transform: uppercase; 
}

.line {
  color:aliceblue;
  flex: 0.9 1 0%;
} 

.google-icon {
  width: 10%;
} 

.icon-button {  
  width: 40vw;
  height: 4.5vh;  
  border-radius: 13px;
  color: var(--lilas);  
  cursor: pointer;
  border: none;
  font-size: 0.9em;  
  text-align: center;  
  margin-top: -7vh;    
  font-weight: bold;
}

.icon-button:hover {
  background-color: var(--roxo);
  box-shadow: 0px 0px 20px var(--roxo);
  transform: translate(0px, -2px);
  transition: transform 0.5s;
  color: var(--branco);
}

.wallpaper-login {  
  display: none;
  width: 24vw;
  height: 75vh;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;    
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .login-container {
    height: 86vh;
  }
  .input {
    font-size: 2em;
  }
  .login-link {
    font-size: 1.5em;
  }
  .btn-login {
    font-size: 1.4em;
  }
  .icon-button {
    font-size: 1.4em;
  }
  .txt-line {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .logo-login {
    width: 24vw;
  }

  .login-container {
    width: 28vw;
    height: 70vh;
    border-radius: 20px 0 0 20px;
  }

  .input {
    font-size: 1.5em;
  }

  .login-link {
    font-size: 1em;
  }

  .btn-login {
    width: 16vw;
    font-size: 1.5em;
  }

  .icon-button {
    width: 15vw;
    font-size: 1.2em;
  }

  .line-container {
    margin: -2vh 0 5vh;
  }

  .txt-line {
    font-size: 1em;
  }

  .wallpaper-login {  
    display: block;    
    width: 30vw;
    height: 73vh;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;    
  } 

}

@media screen and (min-width: 1200px) {
  .logo-login {
    width: 24vw;
  }

  .login-container {
    width: 30vw;
    height: 70vh;
    border-radius: 20px 0 0 20px;
  }

  .input {
    font-size: 2em;
  }

  .login-link {
    font-size: 1.8em;
  }

  .btn-login {
    width: 16vw;
    font-size: 2em;
  }

  .icon-button {
    width: 15vw;
    font-size: 1.5em;
  }

  .txt-line {
    font-size: 1.5em;
  }

  .line-container {
    margin: -2vh 0 5vh;
  }

  .wallpaper-login {  
    display: grid;    
    width: 30vw;
    height: 74vh;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;    
  } 
}