/*respovividade - Typical device breakpoints 
(pontos que a interface do usuário será adaptada para a nova realidade do tamanho de tela, ou densidade de pixels)
pequenas telas: até 600px
celular: de 600px até 768px
tablete: de 768px até 992px
desktop: de 992 até 1200
telas grandes: acima de 1200 */

/*versão mobile first - fazer @mq somente de tablet e desktop*/
/* body {
  background: linear-gradient(to bottom right, rgb(199, 163, 232), #49AAD7, rgb(233, 173, 233), rgb(199, 163, 232)) no-repeat;
  background-position: center;
  height: 100%;
} */


.main {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  }

  .logo{
    margin-top: 2%;
    width: 35%;
    align-items: center;
    justify-items: center;
  }

  .tittle-logotype {
    margin-top: 5%;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 243, 243);
  }
  
  .login-input {
    width: 250px;
    height: 40px;
    border: none;
    font-size: 14px;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.507);
    background-color: white;
    margin: 2% 0;
  }
  
  .login-form {
    text-align: center;
    margin-top: 3%;
  }

  .btn {
    width: 50%;
    height: 40px;
    margin-top: 7%;
    border: none;
    font-size: 12px;
    font-weight: bolder;
  }

  .signin {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .signin-button {
    background: #49AAD7;
    color: aliceblue;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.507);
    font-size: 14px;
    margin-top: 5%;
    font-weight:600;
  }

  .google-button {
    width: 66%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(75, 75, 205);
    color: rgb(238, 237, 248);
    font-size: 14px;
    font-weight:400;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.507);
  }

  .google-icon-btn {
    width: 12%;
  }

  .signup-button {
    margin-top: 15%;
    background-color: transparent;
    color: #070707;
    width: 100%;
    font-size: 16px;
    font-weight:400;
  }

/*tablet
  @media screen and (min-width: 768px) and (max-width: 992px) {
   
  }
  
  /*desktop
  @media screen and (min-width: 1200) {
  }*/