* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  background-color: #f0fbff;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100vh;
}

/* mobile first - responsividade */

@media screen and (min-width: 320px) and (max-width: 480px) {
  .img-logo {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
  }

  .form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../Imagens/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 65vh;
  }

  .title-login {
    font-size: 1rem;
    color: #14617d;
    margin-bottom: 2rem;
    margin-top: -1rem;
    margin-right: 1.6rem;
  }

  .inputs {
    width: 10rem;
    color: #14617d;
    font-size: 0.9rem;
    margin: 0 0.8rem 1.4rem -2rem;
  }

  .input-email,
  .input-password {
    width: 12.5rem;
    height: 2rem;
    border-radius: 0.2rem;
    border: none;
    padding-left: 0.3rem;
    box-shadow: 2px 5px 0 0 rgba(0, 0, 0, 0.1);
  }

  .input-email:focus,
  .input-password:focus {
    outline: none;
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }

  .btn-login {
    width: 9.6rem;
    height: 2rem;
    border-radius: 0.2rem;
    border: none;
    background-color: #2E94B9;
    color: #fff;
    font-size: 0.9rem;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    margin-bottom: .8rem;
    margin-top: .5rem;
    box-shadow: 2px 5px 0 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .btn-google {
    width: 9.6rem;
    height: 2rem;
    border-radius: 0.2rem;
    border: none;
    background-color: #fff;
    color: #2E94B9;
    font-size: 0.9rem;
    text-decoration: none;
    text-align: center;
    margin-bottom: .8rem;
    margin-top: .5rem;
    box-shadow: 2px 5px 0 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .img-google {
    width: 1rem;
    height: 1.2rem;
    margin-left: .2rem;
    margin-top: .2rem;
  }
} 