@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;300;400;500;700&display=swap');

/* Ocultando a lateral azul do desktop */
.signup {
    display: none;
}
.logo-desktop {
    display: none;
}

/*     Mobile first     */

#cegonha-branca {
    margin-top: 42px;
}

.logo-mobile {
    display: flex;
    justify-content: center;
    margin: 0;
    flex-direction: column;
    align-items: center;
    min-height: 27vh;
}

.logo-mobile h1 {
    font-size: 30px;
    color: #e9e9e9;
    text-align: center;
    margin-top: -13px;
}

.login {
    background: #00A57A;
    margin: 0;
    padding: 0;
    font-family: 'gothic-a1', sans-serif;
}

.form {
    background: #e9e9e9;
    border-radius: 50px 50px 0 0;
    height: 73vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.infos {
    width: 20rem;
    height: 4rem;
    border: none;
    border-radius: 20px;
}

#password {
    margin-top: 17px;
}

#error {
    color: red;
    margin-top: 1rem;
}

.buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.forgot {
    margin-top: 10px;
    margin-left: 8rem;
}

.forgot p {
    color: #00A57A;
    text-align: right;
} 

.btn {
    width: 20rem;
    height: 4rem;
    border: none;
    border-radius: 20px;
    font-size: x-large;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit-login {
    background: #00A57A;
    color: #e9e9e9;
}

#submit-google {
    background: white;
    color: black;
    margin-top: 20px;
}

#register-mobile {
    color: #00A57A;
}

#create {
    margin-top: 2rem;
}

#icone-google {
    padding-right: 17rem;
    position: absolute;
    bottom: 9rem;
    height: 34px;
}


/*       DESKTOP     */

@media screen and (min-device-width: 1024px){

    .logo-mobile {
        display: none;
    }
    #create {
        display: none;
    }



    #everything {
        display: flex;
    }
    
    .signup {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(180deg, rgba(0, 165, 122, 0.46) 0%, rgba(0, 165, 122, 0.64) 17.19%, #00A57A 49.11%, rgba(0, 165, 122, 0.66) 84.4%, rgba(0, 165, 122, 0.47) 100%);
        font-family: 'gothic-a1', sans-serif;
        height: 100vh;
    }

    .signup h1 {
        font-size: 27px;
        text-align: center;
        color: white;
    }

    .signup p {
        font-size: 24px;
        color: white;
        text-align: center;
        margin-top: 44px;
    }

    hr {
        width: 60%;
        color: white;
        margin-top: 1rem;
    }

    .register-desktop {
        width: 17rem;
        padding: 1rem;
        background: transparent;
        border: #e9e9e9 solid;
        border-radius: 20px;
        color: white;
        font-size: 21px;
        margin-top: 5rem;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
    }

    .login {
        background: #e9e9e9;
        width: 60%;
    }
    
    .logo-desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    #cegonha-azul {
        width: 14rem;
    }
    .logo-desktop h1 {
        color: #00A57A;
        font-size: 2rem;
    }
    
    .form {
        display: grid;
    }

    .infos {
        width: 28rem;
        height: 4.5rem;
        margin-bottom: 32px;
    }

    #password {
        margin-top: 10px;
    }
    .buttons {
        margin-top: 0;
    }

    .forgot {
        font-size: large;
        margin-top: -3rem;
    }
    input::placeholder {
        font-size: 17px;
    }
    #error {
        margin-top: -1rem;
    }
    

}