body {
    font-family: 'Roboto', sans-serif;
}

.header-login {
    margin: 0;
    flex-wrap: wrap;
    flex-direction: column;
    background: #bcfff3;
}

.display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.return-btn {
    justify-self: flex-start;
    align-self: flex-start;
    margin-top: 1rem;
    margin-left: 0.5rem;
    width: 13vw;
    height: 5vh;
}

.img-logo-login {
    margin-top: 2rem;
    width: 30vw;
    height: 5vh;
}

.login-page {
    width: 100%;
    height: 78.4vh;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(188, 255, 243, 0.96) 0%, rgba(241, 234, 174, 0.96) 25%, #FFE6DB 50%, rgba(255, 221, 225, 0.96) 75%, #FFFFFF 100%);
}

.gif-side-desktop, .login-side-desktop {
    display: none;
}

.login-text {
    align-self: flex-start;
    color: #EE2C12;
    font-weight: 400;
    font-size: 2em;
}

.login-form {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-weight: 100;
}

.link-text-login, .password-reset-login {
    color: #EE2C12;
    font-size: 0.8em;
    font-weight: 300;
}

.password-reset-login {
    margin-bottom: 1rem;
}

.link-text-login {
    margin-top: 1.5rem;
}

.link-text {
    font-weight: 400;
}

.input-text-login{
    padding-left: 1rem;
    font-size: 1.05em;
    background: white;
    border: transparent;
    height: 6vh;
    width: 73vw;
    border-radius: 10px;
    text-align: left;
    box-shadow: 2px 3px 3px rgba(94, 94, 94, 0.329);
}

::placeholder {
    color: #BBBBBB;
}

.btn-login {
    font-size: 1.1em;
    color: #EE2C12;
    background-color: white;
    border-radius: 30px;
    border: transparent;
    padding: 0.55rem 1.5rem;
    box-shadow: 1px 3px 3px rgba(94, 94, 94, 0.438);
    padding-top: -2rem;
    /* margin-bottom: 1rem; */
    margin: 1rem 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.btn-google-login {
    height: 5vh;
    width: 73vw;
    background-color: #ee2c12af;
    border: none;
    box-shadow: 2px 3px 3px rgba(94, 94, 94, 0.329);
    border-radius: 30px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.btn-login:hover,
.btn-google-login:hover {
    background-color: #EE2C12;
    color: white;
    transition: 1s;
    cursor: pointer;
}

@media (min-width: 768px) {
    .img-logo-login {
        height: 6vh;
    }

    .password-reset-login, .btn-google-login, .link-text-login, .btn-login {
        font-size: larger;
    }
}

@media (min-width: 1024px) {
    .header-login, .login-page{
        display: none;
    }



    .gif-side-desktop, .login-side-desktop {
        display: block;
    }
}