@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');

.navbar{
    background-color:#8C4A5C;
    color:#FFFFFF;
}

.navbar-list{  
    display: flex;
    flex-direction: column;
    padding: 0;
}

.navbar-item{
    padding: 10px 15px;
    list-style: none;
}

.navbar-item.hide{
    display: none;
}

.navbar-item:hover{
    background-color:#A6634B;
    cursor:pointer;
}

.navbar-item-button{
    align-self: flex-end;
    padding: 10px 15px;
    list-style: none;
}

.navbar-button{
    cursor:pointer;
}