.register-login-header{
    margin: 0;
    flex-wrap: wrap;
    flex-direction: column;
    background: #bcfff3;
}

.img-logo-register {
    margin-top: 2rem;
    width: 30vw;
    height: 5vh;
}

.register-content {
    width: 100%;
    height:100vh;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(188, 255, 243, 0.96) 0%, rgba(241, 234, 174, 0.96) 25%, #FFE6DB 50%, rgba(255, 221, 225, 0.96) 75%, #FFFFFF 100%);
}

.register-text {
    align-self: flex-start;
    color: #EE2C12;
    font-weight: 400;
    font-size: 2em;
    margin-bottom: 1rem;
}

.register-login {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2.3rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-weight: 100;
}

.input-style{
    font-size: 1.05em;
    background: white;
    border: none;
    height: 6vh;
    width: 68vw;
    border-radius: 10px;
    text-align: left;
    box-shadow: 2px 3px 3px rgba(94, 94, 94, 0.329);
    padding-left: 3rem;
}

.signup-icons {
    align-self: flex-start;
    margin-bottom: -4.3rem;
    margin-left: 0.7rem;
    z-index: 1;
}

.btn-register {
    font-size: 1.1em;
    color: #EE2C12;
    background-color: white;
    border-radius: 30px;
    border: none;
    padding: 0.55rem 1.5rem;
    box-shadow: 1px 3px 3px rgba(94, 94, 94, 0.438);
    margin-top: -1rem;
    margin-bottom: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.btn-google-register {
    height: 5vh;
    width: 73vw;
    background-color: #ee2c12af;
    border: none;
    box-shadow: 2px 3px 3px rgba(94, 94, 94, 0.329);
    border-radius: 30px;
    color: #FFFFFF;
    text-align: center;
}

.google-icon {
    margin-right: 0.5rem;
    width: 1rem;
    height: 1rem;
    background-color: #ffffffbe;
    padding: 0.3rem;
    border-radius: 40px;
}

.btn-register:hover,
.btn-google-register:hover {
    background-color: #EE2C12;
    color: white;
    transition: 1s;
    cursor: pointer;
}
.text-desktop{
    display: none;
}

@media (min-width: 768px) {
    .img-logo-register {
        height: 6vh;
    }

    .btn-google-register, .link-text-login, .btn-login {
        font-size: larger;
    }
}


@media (min-width: 1024px) {
    .register-login-header, .register-text, .signup-icons {
        display: none;
    }

    .text-desktop {
        display: block;
        align-self: center;
        margin: 2rem 0 1rem 0;
        color: #EE2C12;
    }

    .gif-side-desktop {
        display: flex;
        width: 45%;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
        height: 100vh;
        position: absolute;
        left: 0;
    }

    .register-content {
        position: absolute;
        right: 0;
        height: auto;
        display: flex;
        flex-direction: column;
        width: 55%;
        background: linear-gradient(180deg, #D4F3FD 0%, #D0FCF4 37.5%, rgba(227, 252, 249, 0.993333) 62.5%, rgba(228, 255, 247, 0.99) 76.56%, rgba(221, 243, 255, 0) 100%);
    }

    .register-login {
        width: 60%;
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        gap: 2rem;
        background: #FFFFFFB5;
        padding: 2rem 0 2rem 0;
        flex-wrap: nowrap;
        box-shadow: 2px 3px 3px rgba(94, 94, 94, 0.329);
        margin-top: 1rem;
    }

    .input-style {
        width: 80%;
        padding-left: 1rem;
        height: 3.5rem;
        border: none;
        border-radius: 10px;
        box-shadow: 2px 3px 3px rgba(94, 94, 94, 0.329);
        font-size: 1rem;
    }

    .btn-google-register {
        color: #A5A5A5;
        font-size: 0.8rem;
        max-width: 70%;
    }

    .link-text-login{
        margin-top: 0;
        font-size: 1rem;
    }
    .btn-google-register {
        border: solid 1px #A5A5A5;
        background-color: #FFFFFF;
        border-radius: 5px;
        height: 2.5rem;
        margin: 0;
    }

    .btn-register {
        background-color:#EE2C12;
        color: #FFFFFF;
        margin-top: 0;
        margin-bottom: 0;
    }

    .rebu-logo-desktop {
        width: 10rem;
        height: 3rem;
        z-index: 0;
    }

    .bg-gif-desktop {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        width: 20%;
        height: 100vh;
    }
}