@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#allReady {
  background: #00A57A;
  font-family: 'dongle', sans-serif;
  width: 100vw;
  height: 100vh;

  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #ffff;
  font-size: 3rem;
}

@keyframes load {
  to{transform:rotate(360deg)}
}

#loading {
    border: 6px solid #fff;
    border-top-color: #00A57A;
    height: 50px;
    width: 50px;
    animation: load 1s infinite linear;
    border-radius: 50%;
  }