#img_redonda {
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 50%;
    width: 20vw;
    height: 40vh;
}

@media only screen and (max-width: 400px) and (min-width:270px) {
    #img_redonda {
        width: 35vw;
        height: 20vh;
    }
}

@media only screen and (max-width: 600px) and (min-width:401px) {
    #img_redonda {
        width: 40vw;
        height: 20vh;
    }
}

@media only screen and (max-width: 940px) and (min-width: 601px) {
    #img_redonda {
        width: 35vw;
        height: 30vh;
    }
}