*{
    margin: 0;
    padding: 0;
}

#logout-btn {
    background-color: black;
    cursor: pointer;
}

.logout-icon {
    width: 1.5rem;
    height: 1.5rem;
}

#fade, #modal-delete {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}


#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#modal-delete {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 10;
    width: 30rem;
    max-width: 80%;
    padding: 1.2rem;
    border-radius: 0.5rem;
}

#modal-delete.none, #fade.none{
    opacity: 0;
    pointer-events: none;
}

#modal-delete.none{
    top: 0;
}

.like-post-icon, .edit-post-icon, .delete-post-icon {
    width: 28px;
    height: 28px;
}
