@import url(/src/pages/about/about.css);
@import url(/src/pages/feed/feed.css);
@import url(/src/pages/password/password.css);
@import url(/src/pages/register/register.css);
@media only screen and (max-width: 1500px) and (min-width: 257px){
*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    margin: 0% 10% 0% 20%;
    padding: 1% 0% 1% 0%;
    height: 100%;
    width: 60%;
    border-radius: 10%;
    background-image: url(../../img/back.jpg);
    background-repeat: no-repeat;
    justify-content: center;
}
.boxModelForm{
    display: flex;
    text-align: center;
    height: 100%;
    align-content: center;
    flex-direction: column;
    color: black;
    background-color: rgba(255, 255 , 255, 0.87) ;
    width: 70%;
    border-radius: 40px;
    margin: 1% 5% 1% 5%;
}
.form{
    height: 100%;
    margin: 2%;
    justify-content: center;
}
.logo{
    height: 65%;
    width: 100%;
}
.emailSenha{
    width: 60%;
    height: 4vh;
    text-align: center;
    border-color: black;
    border-radius: 1vh;
    margin: 2%;
}
.msgErro{
    color: red;
}
.esqueciSenhaCadastre{
    color: black;
    text-decoration: none;
    font-size: 120%;
}
.cadastre{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.btnEntrar{
    border-radius: 4vh;
    border: 0.3vh solid #1FA48C;
    font-size: 100%;
    font-weight: bold;
    padding: 1% 7%;
    background: linear-gradient(to right, #91ebd9, #5dd6c0, #28c4a7);
    cursor: pointer;
    margin-top: -15%;
}
.textEntrarGlg{
    font-weight: bold;
}
.loginGoogle img{
    height: 25px;
    width: 25px;
}
.sobrepage{
    color: grey;
    text-decoration: none;
    margin: 5%;
}
}