@media only screen and (max-width: 1500px) and (min-width: 257px){
    *{
        margin: 0;
        padding: 0;
    }
    .container{
        display: flex;
        padding: 5% 5% 10% 1%;
        height: 100%;
        width: 100%;
        background-image: url(../../img/back.jpg);
        background-repeat: no-repeat;
        justify-content: center;
    }
    .boxModelForm{
        display: flex;
        text-align: center;
        height: 100%;
        align-content: center;
        flex-direction: column;
        color: black;
        background-color: rgba(255, 255 , 255, 0.87) ;
        width: 80%;
        border-radius: 40px;
    }
    .form{
        height: 100%;
        margin: 2%;
        justify-content: center;
    }
    .logo{
        height: 70%;
        width: 70%;
        margin: 5%;
    }
    .emailSenha{
        width: 80%;
        height: 4vh;
        text-align: center;
        border-color: black;
        border-radius: 1vh;
        margin: 5%;
    }
    .msgErro{
        color: red;
        margin: 2%;
    }
    .esqueciSenhaCadastre{
        color: black;
        text-decoration: none;
        font-size: 120%;
        margin: 5%;
    }
    .cadastre{
        color: black;
        text-decoration: none;
        font-weight: bold;
        margin: 5%;
    }
    .btnEntrar{
        box-shadow: 0px 1px 8px -1px #1FA48C;
        border-radius: 18px;
        border: 1px solid #1FA48C;
        color: black;
        font-family:Arial;
        font-size: 17px;
        font-weight: bold;
        padding: 2px 19px;
        background-color: #1FA48C;
        border-color: black;
        margin: 5% 0% 5% 0%;
    }
    .textEntrarGlg{
        font-weight: bold;
        margin: 2%;
    }
    .loginGoogle img{
        height: 25px;
        width: 25px;
        margin: 2%;
    }
    .sobrepage{
        color: grey;
        text-decoration: none;
        margin: 20%;
    }
}