
*{                 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 

.container-aboutus{
    display:flex;
    width: 100%;
    height: 100%;
    margin-left: auto;
    background-color: #081E26;
}

.logo-brown-about{
    height: 8vh;
    width: 25vh;
    margin-left: 15px;
    margin-top: 20px;
}

.material-symbols-outlined {
    color: white;
    background-color: #081E26;
}

.info-aboutus{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.aboutdevs{
    justify-content: center;
    align-items: center;
    color: #A6634B;
    font-size: 1rem;
    font-weight: 450;
    margin-bottom: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
} 

 .img-angelica, .img-cla, .img-andrea{
    border-radius: 50%;
    width: 25%;
    margin-left: 15px;
}


.clareana, .angelica, .andrea{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 20px;
}

.info-cla, .info-angelica, .info-andrea {
    text-decoration: none;
    text-align: justify;
    font-size: 0.75rem;
    font-weight: normal;
    color: white;
    margin-left: 35px;
    margin-top: -40px;
    padding: 0 30px 30px 90px;
}

.github{
    text-decoration: none;
    font-size: 1rem;
    font-weight: normal;
    color: white;
    margin-left: 20px;
    margin-top: -40px;
}




/*MENU HAMBURGUER*/

.menu-hamburguer{
    background-color: #081E26;
    color:#FFFFFF;
}

a{
    text-decoration: none;
    color:white;
    font-size: 0.85rem;
}

.navbar-list{  
    display: flex;
    flex-direction: column;
    padding: 0;
}

.navbar-item{
    padding: 10px 15px;
    list-style: none;

}

.navbar-item.hide{
    display: none;
}

.navbar-item:hover{
    background-color:#A6634B;
    cursor:pointer;
}

.navbar-item-button{
    align-self: flex-end;
    padding: 10px 15px;
    list-style: none;
}

.navbar-button{
    cursor:pointer;
}

#container-aboutus{
    position: relative;
    width: 360px;
    height: 800px;
    background: linear-gradient(0deg, #163440, #163440), #8C4A5C;
}

#logo-marron-aboutus{
    flex-direction: column;
    align-self: flex-start;
    width: 166px;
    height: 46px;
    left: 24px;
    top: 19px;
}

