/* @import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap'); */

*{                 
    padding: 0;
    margin: 0;
    box-sizing: border-box;

} 

.container-aboutus{
    display:flex;
    width: 100%;
    height: 100%;
    margin-left: auto;
    background-color: #081E26;
}

.logo-brown-about{
    height: 8vh;
    width: 25vh;
}


.info-aboutus{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.aboutdevs{
    justify-content: center;
    align-items: center;
    color: #A6634B;
    font-size: 1rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

.img-cla{
    border-radius: 50%;
    width: 40%;
    height: 40%;

}

.cla{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}









.github{
    text-decoration: none;
    color:#8C4A5C;
}

.container-aboutus{
    display: flex;
}

/*MENU HAMBURGUER*/

.menu-hamburguer{
    background-color:#8C4A5C;
    color:#FFFFFF;
}

a{
    text-decoration: none;
    color:white;
}
.navbar-list{  
    display: flex;
    flex-direction: column;
    padding: 0;
}

.navbar-item{
    padding: 10px 15px;
    list-style: none;
}

.navbar-item.hide{
    display: none;
}

.navbar-item:hover{
    background-color:#A6634B;
    cursor:pointer;
}

.navbar-item-button{
    align-self: flex-end;
    padding: 10px 15px;
    list-style: none;
}

.navbar-button{
    cursor:pointer;
}

#container-aboutus{
    position: relative;
    width: 360px;
    height: 800px;
    background: linear-gradient(0deg, #163440, #163440), #8C4A5C;
}

#logo-marron-aboutus{
    flex-direction: column;
    align-self: flex-start;
    width: 166px;
    height: 46px;
    left: 24px;
    top: 19px;
}

