@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;       
}

body, html {  
    height: 100vh;
    width: 100vw; 
}
    
.wrapper-login {  
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: url('../images/image_back_login.jpg'); 
}
  
.container-login { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    text-align: center;  
}

.container-form-login{
    margin-top: 15%;
}

.container-logo { 
    display: flex;
    justify-content: center;
}

#logo-login{
    width: 70vw;
}

.container-subtitle {
    display: flex;
    justify-content: center
}

#sub-title{
    color: #081E26;
    font-size: 0.8em; 
    text-align: center;
    align-items: flex-start;
    font-family: "Carrois Gothic SC";
}

.container-email-password{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    width: 100%;
    height: 50%;
}

#password-user {
    margin-top: 17%;
}

#btn-submit{
    margin-top: 4%; 
}

.container-form-login {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
}

input::placeholder{
    color:#ffffffa3;
    text-align: center;   
}

.icon-email{
    padding: 8px;
    display: flex;
}

#icon-password {
    padding: 8px;
    display: flex;
}

#email-user{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: none;
    align-items: center;
    background: rgba(45, 43, 43, 0.647);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

#password-user{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: none;
    align-items: center;
    background: rgba(45, 43, 43, 0.647);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.box-enter {  
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: none;
    align-items: center;
    background: rgba(45, 43, 43, 0.647);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

#btn-password {
    color: #081E26;
}

.new-password{
    margin: 10%;
}

.logo-google{
    width: 30px;
    height: 30px;
    top: 40px;
    margin-left:auto;
    margin-right: auto;
    display: flex;
}

.box-login-google{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: none;
    align-items: center;
    background: rgba(45, 43, 43, 0.647);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.box-register{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: none;
    align-items: center;
    background: rgba(45, 43, 43, 0.647);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

footer {
    color: white;
    font-size: 0.8rem;      
    margin: 100px 0 auto;
    padding: 10px 10px;    
    width: 100%;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 25px;
}

@media screen and (min-width: 1024px) { 

    .container-login{
        float: right;
    }
    
    #image_back_login{
        float: left;
        width: 35vw;
        height: 90vh;
    }

    #logo{
        width: 30%;
    }
}