*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  */     
}

.container-login {
    display:flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;  
}

.container-top-logo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    margin-top: 15px;
}

#logo-login{
    justify-content: center;
    align-items: center;
    width: 90%;
}

.container-top-subtitle{
    color: #081E26;
    font-size: 1.1rem; 
    display: flex;
    justify-content: center; 
    align-items: center;  
}

.box-login {
    width: 100%;  
    height: 100%;
    background-image: url('../images/image_back_login.jpg');
    background-size: 100% 100%;
}

.form-login {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 30px;
}

.container-email-password{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}

#email-user{
    height: 6vh;
    width: 80vw;
    border: none;
    border-radius: 5px;  
    align-items: center;
    background: rgba(45, 43, 43, 0.647);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

#password-user{
    height: 6vh;
    width: 80vw;
    margin: 20px;
    border: none;
    border-radius: 5px;
    align-items: center;
    background: rgba(45, 43, 43, 0.647);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    color: #ffffffa3;
}

.btn-enter {  
    height: 6vh;
    width: 80vw;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    align-items: center;
    background: rgba(45, 43, 43, 0.647);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

#btn-password{
    color: #081E26;
    font-size: 1rem;
}

.new-password{
    width: 40vw;
    border:none;
    border-radius: 5px;
    padding: 15px;
    margin: 10%; 
    background: #a8a6a6a3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.container-buttons{
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap; 
}

.logo-google{
    height: 20px;
    width: 20px;
    margin-right: 20px;
}

#btn-google{
    display: flex;
    font-size: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.box-login-google{
    height: 6vh;
    width: 80vw;
    color: #081E26;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

#new-user{
    color: #081E26;
    font-size: 1rem;
}

#btn-register{
    margin-top: 20px;
    height: 6vh;
    width: 80vw;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.footer-text{
    color: white;
    font-size: 0.9rem; 
    text-align: center;
    margin-top: 45px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;       
}

@media screen and (min-width: 960px){

    .container-login {
        background-color: white;
    }

    .box-login {  
        display: flex;
        flex-direction: row-reverse;
        width: 50%;
        height: 70%;
        text-align: center;
        overflow: auto;
        border-radius: 20px;
        background-image: url('../images/image_back_login.jpg');
        background-repeat: no-repeat;
        background-size: 50% 100%;
    }

    .box-content {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    #logo-login{
        width: 50%;
    }

    #email-user{
        height: 5vh;
        width: 70%;
        font-size: 1.4rem; 
    }
    
    #password-user{
        height: 5vh;
        width: 70%;
    }
    
    .btn-enter {  
        height: 5vh;
        width: 70%;
        color: white;
        font-size: 1.5rem;
    }

    #btn-google{
        padding: 10px;
        height: 50px;
        font-size: 1.2rem;
    }

    .new-password{
        width: 70%;
        padding: 5px;
        margin: 5%;
        font-size: 1.1rem;
    }

    #btn-password {
        width: 100%;
    }

    .box-login-google{
        color: #081E26;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
        margin-top: 15px;
        height: 10%;
        width: 50%;
    }
    
    #new-user{
        color: #081E26;
        font-size: 1.3rem;
        text-align: center;
        justify-content: center;
    }

    #btn-register{
        width: 40%;
        height: 5vh;
        margin-top: 40px;
        border-radius: 5px;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    }

    .footer-text{
        color: #081E26;
        font-size: 1.1rem;
        margin-top: 70px;
    }

    .name {
        color: #081E26;
        font-size: 1.2rem;
    }
}
