@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;

}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
}

.container-login {
    display: flex;
    width: 100%;
    font-size: 0;
    align-items: center;
    justify-content: center;
    padding: 2%;
    background-color: #151414;
}

.box-left {
    width: 35%;
    height: 100%;
    font-size: 1rem;
    border-radius: 2%;
}

.box-left p {
    margin-top: 5%;
    font-size: 1.8rem;
    color: #ffffff;
}

.box-right {
    width: 35%;
    background-color: #ffffff;
    font-size: 1rem;
    border-radius: 2%;
}

.box-right .logo-login {
    text-align: center;
}

#logo-login {
    width: 14vw;
}

.logo-login {
    height: 185px;
}

.box-right .register {
    width: 80%;
    margin-left: 50px;
    text-align: center;
    font-size: 1.2rem;
}

.register p {
    font-size: 1rem;
    margin-bottom: 2%;
}

#button-gmail {
    display: inline-flex;
}

.box-right .button {
    height: 50px;
    padding: 10px;
    width: 90%;
    background-color: #850a0a;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 5%;
    font-size: 1.1rem;
    margin-bottom: 5%;
    cursor: pointer;
    color: #ffffff;
}

.button:hover {
    background-color: #C30707;
}

.button:active {
    transform: scale(0.99);
    box-shadow: 3px 2px 10px 1px rgba(176, 186, 195, 0.368);
}

.button-icon,
.button-txt {
    display: inline-flex;
    align-items: center;
    padding: 0px 0 0 20px;
    height: 100%;
    color: #edebeb;
}

.break {
    display: flex;
}

.line {
    height: 1px;
    background-color: #c3bcbc;
    width: 45%;
    margin-top: 10px;
}

#line-right {
    float: right;
}

.or {
    width: 10%;
    color: gray;
    margin-bottom: 2%;
}

.form {
    display: block;
    margin-bottom: 2%;
    margin-top: 2%;
}

.form input {
    width: 98%;
    height: 50px;
    margin: 5px;
    border: 1px solid #808080;
    border-radius: 5px;
    padding: 5px;
}

#button-register {
    color: #ffffff;
}

#register {
    font-size: 0.8rem;
    color: #1e1d1d;
}

#gif-vanellen {
    height: 70vh;
    width: 32vw;
    border-radius: 5px;
}

.wrapper-login {
    background-color: #151414;
    height: 5rem;

}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.foot p {
    justify-content: space-between;
    color: #272525;
    padding: .2%;
    text-align: end;
    margin-right: 18%;
    font-size: 1rem;
}

.foot img {
    margin-top: .5%;
    position: absolute;
    margin-left: 18%;
}

@media only screen and (max-width: 600px) {

    .container-login {
        display: block;
        width: 100%;
        font-size: 0;
        padding: 1%;
    }

    #logo-login {
        width: 35vw;
    }

    .logo-login {
        height: 150px;
    }

    .box-left {
        width: 100%;
        margin-left: 2%;
        height: auto;
    }

    #gif-vanellen {
        height: 10%;
        width: 95%;
        border-radius: 5px;
    }

    .box-right {
        width: 100%;
        font-size: 1rem;
        margin-right: 3%;
        margin-top: 2%;
        margin-bottom: 20%;
    }

    .box-right .button {
        font-size: 0.8rem;
    }

    .box-right .logo-login {
        text-align: center;
    }

    .box-right .register {
        width: 78%;
        font-size: 0.9rem;
        margin-left: 11%;
        margin-bottom: 6%;
    }

    .foot {
        padding: 2%;
    }

    .foot p {
        font-size: 0.6rem;
        margin-right: 6%;
    }

    .foot img {
        margin-left: 1%;
        width: 180px;
    }

    .box-left p {
        margin-top: 14%;
        font-size: 1.2rem;
        margin-left: 2%;
        text-align: center;
    }

    .wrapper {
        margin-bottom: 50%;
    }

}

@media only screen and (max-width: 770px) and (min-width: 767px) {

    .container-login {
        display: block;
        width: auto;
        font-size: 0;
        margin: auto;
        padding: 2%;
    }

    .box-left {
        margin: auto;
        width: 100%;
        margin-left: 1%;
        height: auto;
    }

    .box-left p {
        margin-top: 14%;
        font-size: 2.5rem;
        margin-left: 2%;
        text-align: center;
    }

    #gif-vanellen {
        height: 10%;
        width: 95%;
        border-radius: 5px;
    }

    .box-right {
        width: 95%;
        font-size: 1.2rem;
        margin-right: 3%;
        margin-top: 2%;
    }

    .box-right .button {
        font-size: 1.2rem;
    }

    .box-right .register {
        width: 78%;
        font-size: 1.3rem;
        margin-left: 11%;
    }

    #register {
        font-size: 1rem;
        color: #1e1d1d;
    }

    .foot {
        padding: 4%;
    }

    .foot p {
        font-size: 1.3rem;
        margin-left: 50%;
    }

    .foot img {
        margin-left: 5%;
        width: 270px;
    }

}

@media only screen and (max-width: 1281px) and (min-width: 1024px) {

    .container-login {
        width: auto;
        font-size: 0;
        margin: auto;
        padding: 2%;
    }

    .box-left {
        margin: auto;
        width: 100%;
        height: auto;
    }

    .box-left p {
        margin-top: 14%;
        font-size: 1.5rem;
        margin-left: 2%;
        text-align: center;
    }

    #gif-vanellen {
        height: 10%;
        width: 95%;
        border-radius: 5px;
    }

    .box-right {
        width: 95%;
        font-size: 1.2rem;
        margin-right: 3%;
        margin-top: 2%;
    }

    .box-right .button {
        font-size: 1.2rem;
    }

    .box-right .register {
        width: 78%;
        font-size: 1.3rem;
        margin-left: 11%;
    }

    #register {
        font-size: 1rem;
        color: #1e1d1d;
    }

    .foot {
        padding: 1%;
    }

    .foot p {
        font-size: 1.3rem;
        margin-right: 5%;
    }

    .foot img {
        margin-left: 5%;
        width: 270px;
    }

}

@media only screen and (max-width: 950px) and (min-width:820px) {

    .container-login {
        width: auto;
        font-size: 0;
        margin: auto;
        padding: 2%;
    }

    .box-left {
        margin: auto;
        width: 100%;
        margin-left: 5%;
        height: auto;
    }

    .box-left p {
        margin-top: 14%;
        font-size: 1.4rem;
        margin-left: 2%;
    }

    #gif-vanellen {
        height: 10%;
        width: 95%;
        border-radius: 5px;
    }

    .box-right {
        width: 95%;
        font-size: 1.2rem;
        margin-right: 3%;
        margin-top: 2%;
    }

    .box-right .button {
        font-size: 1.2rem;
    }

    .box-right .register {
        width: 78%;
        font-size: 1.3rem;
        margin-left: 11%;
    }

    #register {
        font-size: 1rem;
        color: #1e1d1d;
    }

    .foot {
        padding: 1%;
    }

    .foot p {
        font-size: 1.3rem;
        margin-right: 6%;
    }

    .foot img {
        margin-left: 5%;
        width: 270px;
    }

}