@media only screen and (max-width: 1500px) and (min-width: 257px){
    *{
        margin: 0;
        padding: 0;
    }
    .headerFeed{
        background-image: url(/src/img/back.jpg);
        display: flex;
        justify-content: center;
        width: 96%;
        height: 100%;
        padding: 2%;
    }
    .loginhoFeed{
        width: 28%;
        height: 30%;
        border-radius: 10%;
    }
    .navBar{
        background-color: #1FA48C;
        padding: 1%;
        border-style: solid;
        border-color: black;
        border-width: 1px;
        border-left: none;
        border-right: none;
    }
    .btnSIgnInOut img{
        width: 18%;
        height: 15%;
    }
    .msgBoasvindas{
        display: flex;
        justify-content: center;
        color: black;
        padding: 3%;
        font-weight: bold;
    }
    .corpotimeline{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .boxModelPost{
        display: flex;
        flex-direction: column;
        background-color: #EEEEEE;
        border-color: black;
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        width: 80%;
        height: 30%;
        justify-content: center;
        padding: 2%;
        font-size: 13px;
        margin: 0% 5% 3% 5%;
    }
    .headerPost{
        display: flex;
        flex-direction: row;
    }
    .textTitle{
        font-weight: bold;
        border-color: black;
        border-radius: 5px;
        padding: 1%;
    }
    .inputText{
        width: 100%;
        border-radius: 5px;
        border-color: black;
    }
    .createPost{
        width: 100%;
        height: 60px;
        border-radius: 5px;
        border-color: black;
        padding: 0;
    }
    .publicBtn{
        color: black;
        width: 30%;
        height: 5%;
        background-color: #1fa48c84;
        border-radius: 3px;
        font-weight: bold;
        margin: 2% 5% 2% 35%;
    }
    .postTimeline{
        display: flex;
        flex-direction: column;
        background-color: #EEEEEE;
        border-color: black;
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        width: 80%;
        height: 30%;
        padding: 2%;
        font-size: 13px;
        margin: 0% 5% 3% 5%;  
    }
    #userName{
        margin: 3%;
        font-size: 100%;
    }
    #textPost {
        font-size: 90%;
        margin: 3%;
    }
    .btnDelete:hover{
        transform: scale(0.9);
    }
    .btnEditar:hover{
        transform:scale(1.9);
    }
    .sectionBtnLikeDeslike img{
        margin: 1% 0% 2% 8%;
        height: 25px;
        width: 35px;
        padding: 0;
    }
}
