*{
    margin: 0;
    padding: 0;
}

.feed-header {
    background-color: #000000;
    display: flex;
    flex-direction: column;
}

.header-images {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
}

#rebu-logo-btn, #feed-homepage-btn {
    background: transparent;
    border: none;
    cursor: pointer;
}

.rebu-logo-feed {
    width: 5rem;
    height: 3rem;
}

.tag-filter {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    gap: 2.5em;
    border-bottom: solid 1px #989898;
    padding: 0.5rem;
}

.tag-filter::-webkit-scrollbar { 
    display: none;
}

.tag-button {
    border: none;
    background: transparent;
    font-size: 1rem;
    color: #7B2292;
    cursor: pointer;
}

.tag-button:focus {
    border-bottom: solid 1.5px #7B2292;
}

#logout-btn {
    background: transparent;
    cursor: pointer;
    border: none;
}

.logout-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.main-container {
    background-color: #F5F7F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 85vh;
}

#create-post {
    margin: 1rem 0;
}

.user-photo-post{
    width: 2rem;
    height: 2rem;
}

.post-textarea {
    width: 75vw;
    height:5rem;
    border: none;
    border-bottom: solid 1px #989898;
    outline: none;
    padding: 1rem;
}

.post-textarea::placeholder {
    color: #5F5656;
}

.create-post-box-buttons {
    background-color: #FFFFFF;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

#publish-btn {
    background-color: #7B2292;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 0.4rem;
    font-size: 1rem;
}

#publisn-btn:focus {
    color: white;
    background-color: #000000;
    transition: 2s;
}

#select-tags {
    background-color: #D9D9D9;
    color: #5F5656;
    border: none;
}

.post {
    background-color: #FFFFFF;
    width: 75vw;
    padding: 1rem 0.6rem 0.2rem 0.6rem;
    margin-bottom: 2rem;
}

.header-post, .profile-info-post, .post-options {
    display: flex;
    align-items: center;
}

.profile-info-post, .post-options {
    gap: 0.5rem;
}

.user-name-post {
    font-size: 1rem;
    color: #837E7E;
    font-weight: 400;
}

.header-post {
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.text-post {
    border: none;
    background: transparent;
    width: 100%;
    min-height: 7vh;
    color: #000000;
    margin-bottom: 0.5rem;
    overflow-y: hidden;
}

.edit-post-btn, .delete-post-btn, .like-btn-post {
    background: none;
    border: none;
    cursor: pointer;
}

.like-post-icon, .edit-post-icon, .delete-post-icon {
    width: 16px;
    height: 16px;
}

.all-likes-post {
    margin-top: -0.08rem;
}

.footer-post {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.date-post {
    font-size: 0.7rem;
    color: #837E7E;
}

.like-container {
    display: flex;
    gap: 0.7rem;
}

.confirm-edit-btn {
    border: none;
    background-color: #7B2292;
    color: #FFFFFF;
    font-size: 0.8rem;
    padding: 0.3rem;
    margin-bottom: 0.5rem;
}

.date-like-div {
    display: flex;
    justify-content: space-between;
}

.confirm-edit-div {
    display: flex;
    justify-content: flex-end;
    padding: 0.25rem 0;
}

.feed-footer {
    background-color: #FFFFFF;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.homepage-icon {
    width: 2rem;
    height: 2rem;
}

#fade, #modal-delete {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#modal-delete {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 10;
    width: 30rem;
    max-width: 80%;
    padding: 1.3rem 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
}

.delete-modal-btns {
    display: flex;
    gap: 4.3rem;
}

.btn-delete, .close-modal {
    background: #b1b1b1;
    color: white;
    border: transparent;
    padding: 0.5rem 1rem;
    border-radius: 3px;
}

.close-modal {
    background-color: #7B2292;
}

#modal-delete.none, #fade.none{
    opacity: 0;
    pointer-events: none;
}

#modal-delete.none{
    top: 0;
}

.null-post-message {
    margin: 1rem 0 0 0;
    font-size: 1rem;
}

@media (min-width: 768px) {
    .feed-header {
        font-size: 3rem;
    }

    .header-images {
        padding: 0.8rem;
    }

    .rebu-logo-feed {
        width: 7rem;
    }

    .logout-icon {
        width: 2.7rem;
        height: 2.7rem;
    }

    .tag-filter {
        gap: 5rem;
        padding: 1rem 2rem;
    }

    .tag-button {
        font-size: 1.4rem;
    }

    .post-textarea {
        height: 6rem;
        font-size: 1.2rem;
    }

    #publish-btn, #select-tags {
        padding: 5px;
        font-size: 1.2rem;
        text-align: center;
        line-height: 5px;
        border-radius: 3px;
    }

    .post {
        font-size: 1.2rem;
    }

    .user-name-post {
        font-size: 1.5rem;
    }

    .text-post, .date-post {
        font-size: 1.12rem;
    }  

    .like-container {
        margin-bottom: 0.5rem;
    }

    .like-post-icon, .edit-post-icon, .delete-post-icon {
        width: 24px;
        height: 24px;
    }

    .user-photo-post {
        width: 2.3rem;
        height: 2.3rem;
        padding: 0.3rem;
    }
}

@media (min-width: 1024px) {

    .header-images {
        padding: 1.3rem;
    }

    .logout-icon {
        width: 3.9rem;
        height: 3.7rem;
        align-self: center;
    }

    .rebu-logo-feed {
        width: 12rem;
        align-self: center;
    }

    .tag-filter {
        justify-content: center;
        overflow-x: hidden;
        gap: 0rem;
        padding: 0.8rem;
    }

    .tag-button {
        text-transform: uppercase;
        border-right: solid 2.5px #d0c7d2;
        padding: 0.4rem 3rem;
        background: linear-gradient(to right, #c171d460, rgb(255, 255, 255));
        background-repeat: no-repeat;
        background-size: 0 100%;
        transition: background-size 1s 0s;
    }

    .tag-button:hover {
        background-size: 100% 100%;
        border-right: transparent;
    }

    .politica {
        border-right: transparent;
    }

    .create-post-box-buttons {
        height: 6.5vh;
        align-items: center;
        margin-bottom: 1rem;
    }

    #publish-btn,
    #select-tags {
        width: 12.5vw;
        height: 5vh;
        cursor: pointer;
    }
    
    .confirm-edit-btn {
        padding: 0.1rem 1rem;
        font-size: 1.5rem;
    }

    #publish-btn:hover, .btn-delete:hover, .close-modal:hover, .confirm-edit-btn:hover {
        background-color: black;
        transition: 2s;
    }

    .post-textarea,
    .post {
        width: 70vw;
        margin-bottom: -0.3rem;
    }
    
    .post-textarea::placeholder {
        font-size: 1.3rem;
        color: #8f8e8e;
        padding-left: 1rem;
    }

    .header-post, .footer-post, .text-post {
        padding: 0.5rem 0.8rem;
    }

    .user-name-post, .date-post {
        color: #8f8e8e;
    }

    .post {
        min-height: 40vh;
        margin-bottom: 4vh;
    }

    .text-post {
        min-height: 15vh;
        width: 68.5vw;
    }

    .like-container {
        gap: 1rem;
    }

    .like-post-icon, .edit-post-icon, .delete-post-icon {
        width: 30px;
        height: 30px;
    }

    .all-likes-post {
        font-size: 1.65rem;
        margin-top: -0.12rem;
    }

    #modal-delete {
        padding: 1.3rem 0;
        gap: 4.5rem;
        width: 20rem;
    }

    .feed-footer {
        display: none;
    }
}

@media (min-width: 1800px) {

    #publish-btn, #select-tags, .text-post {
        font-size: 1.6rem;
    }

    .post {
        height: 32vh;
    }

    .date-post {
        font-size: 1.3rem;
    }

    .footer-post {
        margin-top: -2rem;
    }

    .confirm-edit-btn {
        padding: 0.3rem 1.5rem;
    }


}