*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;       
}
    
.container-register {  
    display:flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center; 
}

.container-top-logo-register {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    margin-top: 15px;
}

#logo-register{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.container-top-subtitle-register{
    color: #a46b56;
    font-size: 1.1rem; 
    font-weight: 600;
    display: flex;
    justify-content: center; 
    align-items: center;  
}

.box-register { 
    height: 100%;
    width: 100%;
    background-image: url('../images/pexels-zachary-debottis-2067677.jpg');
    background-size: 100% 100%;
}

.form-register {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 70px;
}

.placeholder::placeholder {
    color: #ffffffa3;
    font-size: 1.1rem;   
}

.box-name-register {
    height: 100%;
    width: 80%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0.9rem;
    background: none;
    border: none;
    border-bottom: 2px solid #ccc;
}

.box-email-register {
    height: 100%;
    width: 80%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
    font-size: 0.9rem;
    background: none;
    border-bottom: 2px solid #ccc;
}

.box-password-register {
    height: 100%;
    width: 80%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    border: none;
    font-size: 0.9rem;
    background: none;
    border-bottom: 2px solid #ccc;
}

.box-password-repeat{
    height: 100%;
    width: 80%;
    padding: 10px;
    display: flex;
    justify-content: center;
    border: none;
    font-size: 0.9rem;
    background: none;
    border-bottom: 2px solid #ccc;
}

.btn-register {
    height: 100%;
    width: 80%;
    margin: 50px;
    margin-left:auto;
    margin-right: auto;
    font-size: 1.1rem;
    border: none;
    background: #69636357;
    color:#ffff;
}

.user {
    color:#ffff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.1rem;
}

.btn-back {
    height: 30%;
    width: 30%;
    top: 30px;
    margin: 50px;
    font-size: 1.1rem;
    border: none;
    border-radius: 10px;
    background: #afa8a857;
    color:#ffff; 
}

@media screen and (min-width: 960px){

    .container-register {
        background-color: white;
    }

    .box-register {  
        display: flex;
        flex-direction: row-reverse;
        width: 50%;
        height: 70%;
        text-align: center;
        overflow: auto;
        border-radius: 20px;
        background-image: url('../images/pexels-zachary-debottis-2067677.jpg');
        background-repeat: no-repeat;
        background-size: 50% 100%;
    }

    .box-content-register {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    #logo-register{
        width: 50%;
    }

    .placeholder::placeholder {
        color: #081E26;
        font-size: 1.1rem;   
    }

    .box-name-register {
        height: 5vh;
        width: 70%;
        font-size: 1.4rem; 
    }
    
    .box-email-register {
        height: 5vh;
        width: 70%;
        font-size: 1.4rem;
    }
    
    .box-password-register {
        height: 5vh;
        width: 70%;
        font-size: 1.4rem;
    }
    
    .box-password-repeat{
        height: 5vh;
        width: 70%;
        font-size: 1.4rem;
    }
    
    .btn-register {
        height: 5vh;
        width: 70%;
        font-size: 1.4rem;
        color:#081E26
    }

    .user {
        color:black;
        font-size: 1.3rem;
    }
    
    .btn-back {
        height: 5%;
        width: 20%;
        font-size: 1.4rem;
        color:#081E26
    }

}
    

