
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');

.logo-marron { 
    position: relative;
    width: 330px;
    height: 90px;
    left: 15px;
    top: 77px;
}

.sub-title-register {
    color: #A6634B;  
    position: absolute;
    position: absolute;
    left: 32px;
    top: 147px;
    font-size: 14px;
    letter-spacing: 0.05em;
    font-family: "Carrois Gothic SC";
}

.box-name-register {
    position: absolute;
    width: 145px;
    height: 25px;
    left: 106px;
    top: 215px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #221d1d;
    border: none;
    font-family: "Carrois Gothic SC";
}

.box-email-register {
    position: absolute;
    width: 142px;
    height: 16px;
    left: 105px;
    top: 304px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #0b0808;
    border: none; 
    font-family: "Carrois Gothic SC";
}

.box-password-register  {
    position: absolute;
    width: 139px;
    height: 16px;
    left: 108px;
    top: 372px;
    font-family: "Carrois Gothic SC";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    border: none;
}

.box-password-repeat{
   position: relative;
    width: 124px;
    height: 16px;
    left: 108px;
    top: 350px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #161111;
    font-family: "Carrois Gothic SC";
    border: none;
}

.btn-register {
    position: absolute;
    width: 265px;
    height: 44px;
    left: 51px;
    top: 490px;
    background: linear-gradient(0deg, #8C8080, #8C8080), linear-gradient(0deg, #163440, #163440), #8C4A5C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    font-family: "Carrois Gothic SC";
}

.user {
    position: absolute;
    width: 323px;
    height: 47px;
    left: 29px;
    top: 585px;
    font-family: "Carrois Gothic SC";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #151212;
}

