@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');

*{
    /*font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;       
}

/*@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');*/

/* body{
    height: 100vh;
    width: 100vw; 
}  */
    
.wrapper-register {  
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #163440ed;
}

#register {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 500px;
    width: 250px;
    border-radius: 20px;
    overflow: hidden;
    transform: translate(-50%, -50%);
    transition: width .3s, heigth .3s;
    transition-timing-function: ease;
}
.container-register { 
    display: block;
    padding: 10px;
}

.logo-brown-register { 
    position:relative;
    width: 200px;
    height: 60px;
    top: 10px;
    margin-left:auto;
    margin-right: auto;
    display: flex;
}

.subtitle-register{
    color: #A6634B;  
    position: relative;
    top: 10px;
    text-align: center;
    font-size: 0.8em;
   /* font-family: "Carrois Gothic SC";*/
}

.background-register {
    height: 0vh;
    width: 0vw; 
}

.box-name-register {
    color: #ffff;  
    position: relative;
    width: 210px;
    height: 40px;
    top: 30px;
    padding-left: 15px;
    margin-left:auto;
    margin-right: auto;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 0.8em;
    display: flex;
    background: none;
   
}

.material-icons{
    color: white;
    position: relative;
    margin-left:auto;
    margin-right: auto;
    display: flex;

}

.box-email-register {
    position: relative;
    width: 210px;
    height: 40px;
    top: 27px;
    padding-left: 17px;
    margin-left:auto;
    margin-right: auto;
    font-size: 0.8em;
    color: #ffff;  
    border: none; 
    border-bottom: 2px solid #ccc;
    display: flex;
    background: none;
}

#box-new-password {
    position: relative;
    width: 210px;
    height: 40px;
    top: 30px;
    margin-left:auto;
    margin-right: auto;
    padding-left: 25px;
    font-size: 0.8em;
    border: none;
    border-bottom: 2px solid #ccc;
    color: #ffff; 
    background: none;
}

.box-password-repeat{
   position: relative;
   width: 210px;
   height: 40px;
   top: 30px;
   padding-left: 25px;
   margin-left:auto;
   margin-right: auto;
   color: #ffff;  
   font-size: 0.8em;
    border: none;
    border-bottom: 2px solid #ccc;
    background: none;
}

.btn-register {
    position: relative;
    width: 200px;
    height: 40px;
    top: 30px;
    margin-left:auto;
    margin-right: auto;
    border: none;
    background: #69636357;
    color:#ffff;
}

.user {
    position: relative;
    text-align: center;
    width: 200px;
    height: 35px;
    top: 50px;
    font-size: 1.0em;
    color: #ffff; 
}

@media screen and (min-width: 768px) and (max-width:992px){
    #register{
        width: 80vw;
    }
    
    .background-register{
        float: left;
        width: 35vw;
        height: 100vh;
    }

    .container-register{
        float: right;
        width: 40vw;
    }
}

@media screen and (min-width: 992px){
    #register{
        width: 900px;
    }
    
    .background-register{
        background-color: #FFFFFF;
        float: right;
        width: 35vw;
        height: 100vh;
    }

    .container-register{
        float: left;
        width: 30vw;
    }
}
    

