@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Questrial&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.form-feed {
  margin: auto;
  margin-top: 1rem;
  background-color: #fff;
  width: 52rem;
  height: 20rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
}

.question-feed {
  width: 100%;
  height: 80%;
  background-color: #EDE2E2;
  border: none;
  border-radius: 2rem;
}

.author, .book {
  background-color: #F2CC84;
  width: 40%;
  height: 10%;
  border-radius: 0.5rem;
  border: none;
  margin-top: 0.5rem;
} 

.inputs-feed {
  margin-top: 20rem;
  background-color: #EDE2E2;
  width: 35rem;
  height: 15rem;
  margin-top: 1rem;
  margin-left: 10rem;
  border-radius: 3rem;
}

.inputs-source {
  display: flex;
  flex-direction: row;
  margin-top: 0.6rem;
}

.input-space {
  margin: auto;
  width: 13rem;
  height: 1.5rem;
}


.logout{
    display: flex;
    flex-direction: row;
    margin: 0.6rem;
}

.btnFeed {
  border-radius: 2rem;
  background-color: #c69b73;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  padding: 0rem 0.5rem;
  margin-top: 0.5rem;
}

.btnFeed:hover {
    background-color: #ffcc98;
}

.button-logout {
  display: flex;
  align-content: center;
  margin-top: 0.5rem;
  width: 4rem;
  height: 1.6rem;
  padding: .2rem 1.2rem;
}

.button-publish {
  margin-left: 32rem;
  margin-top: 1rem;
  width: 20%;
  height: 20%;
}


.ipt-general::-webkit-input-placeholder {
  padding-left: 0.7rem;
}

.question-feed::-webkit-input-placeholder {
  font-style: italic;
}