@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Questrial&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #abd9d8;
}

.background-home {
  display: none;
}

.form {
  background-color: #fff;
  width: 40rem;
  height: 43rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
  margin-right: 0.6rem;
}

.text-one {
  margin-top: -1rem;
}

.text-two {
  padding: 0.6rem;
  font-size: 1rem;
  
}

.text-three {
  font-size: 1.1rem;
}

.form picture {
  margin-top: 1rem;
}

.input-login {
  font-family: "Roboto", sans-serif;
  border-radius: 0.5rem;
  background-color: #abd9d8;
  padding: 1%;
  margin-top: 0.5rem;
}

.button-login {
  border-radius: 2rem;
  background-color: #c69b73;
  font-family: "Poppins", sans-serif;
}

.button-login:hover {
  background-color: #ffcc98;
}

.button-sign-in {
  display: flex;
  align-content: center;
  margin-top: 1rem;
  padding: 0 1rem 0;
}


.button-sign-up {
  display: flex;
  align-content: center;
  padding: 0 1rem 0;
}

.button-sign-up:hover {
  background-color: #cdbcac;
}

.button-google {
  margin-bottom: 0.5rem;
}

.button-img {
  background-color: #fff;
  border: none;
}

.quote {
  font-size: 4rem;
}

.button-back-home {
  background-color: rgb(166, 166, 166);
  border-radius: 2rem;
  font-family: "Poppins", sans-serif;
  width: 20%;
  height: 5%;
  margin-top: 0.6rem;
}

.button-back-home:hover {
  background-color: #cdbcac;
}

.button-signup:hover {
  background-color: #c69b73;
}

@media screen and (min-width: 1201px) {

  .home-page {
    display: flex;
    flex-direction: row;
  }

  .background-home {
    display: flex;
    flex-direction: column;
  }

  .img-woman {
    width: 45rem;
    height: 37rem;
    margin-left: 17rem;
    margin-top: 0.5rem;
  }

  .quote {
    color: #fff;
    font-family: "Questrial", sans-serif;
    text-shadow: #d8a370;
    padding: 2rem;
    font-size: 24px;
    text-justify: inter-cluster;
  }

  .img-logo {
    width: 18rem;
    height: 15rem;
  }

  .form {
    width: 40rem;
    height: 43rem;
    font-size: 20px;
    margin: 1rem 0.5rem;
  }

  .input-login {
    width: 80%;
    font-size: 18px;
  }

  .button-login {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px)  {

  .home-page {
    display: flex;
    flex-direction: row;
  }

  .background-home {
    display: flex;
    flex-direction: column;
    max-height: 700px;
  }

  .img-woman {
    width: 40rem;
    height: 50rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
  }

  .quote {
    color: #fff;
    font-family: "Questrial", sans-serif;
    text-shadow: #d8a370;
    padding: 2rem;
    font-size: 24px;
  }

  .img-logo {
    width: 18rem;
    height: 15rem;
  }

  .form {
    width: 50rem;
    height: 40rem;
    font-size: 20px;

  }

  .form-signup {
    width: 50rem;
    height: 40rem;
    font-size: 20px;
    margin-right: 0.6rem;
  }

  .input-login {
    width: 80%;
    font-size: 18px;
  }

  .button-login {
    font-size: 20px;
  }
}


@media screen and (min-width: 320px) and (max-width: 1023px) {

    body {
      background-image: url(../img/background.png);
      background-size: contain;
    }
  
    .input-login {
      width: 80%;
    }
  
    .img-logo {
      width: 12rem;
      height: 10rem;
      margin-bottom: 2rem;
    }
    
    .text-three {
      font-size: 0.9rem;
    }
    .form {
      width: 20rem;
      height: 35rem;
      border-radius: 2rem;
      margin: 2rem auto;
    }
  
    .text-one {
      padding-top: 0.6rem;
    }
  }

  .form-signup {
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    width: 40rem;
    height: 42.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    margin-top: 1.4rem;
    margin-right: 0.6rem;
  }

  .name-input {
    justify-items: left;
  }

  .input-signup {
    border-radius: 0.5rem;
    background-color: #abd9d8;
    width: 80%;
    height: 2.1rem;
  }

  .button-signup {
    border-radius: 2rem;
    background-color: #d6a97e;
    width: 11rem;
    height: 2.5rem;
    margin-top: 2rem;
    font-size: medium;
  }

  .button-signup:hover {
    background-color: #dcbda0;
  }


  .img-logo {
    margin-top: 2rem;
  }


  @media screen and (min-width: 320px) and (max-width: 1023px) {

    body {
      background-image: url(../img/background.png);
      background-size: contain;
    }
  
    .input-signup {
      width: 15rem;
      height: 1.5rem;
    }
  
    .img-logo {
      width: 12rem;
      height: 10rem;
      margin-bottom: 2rem;
      margin-top: 2rem;
    }
    
    .form-signup {
      width: 20rem;
      height: 35rem;
      border-radius: 2rem;
      margin: 2rem auto;
    }

    .button-signup {
      margin-top: 2rem;
      width: 8rem;
      height: 2rem;
      font-size: small ;
    }
  }

  @media screen and (min-width: 1024px) and (max-width: 1200px)  {

    .home-page {
      display: flex;
      flex-direction: row;
    }
  
    .background-home {
      display: flex;
      flex-direction: column;
      max-height: 700px;
    }
  
    .img-woman {
      width: 40rem;
      height: 50rem;
      margin-right: 1rem;
      margin-top: 0.5rem;
    }
    .form-signup {
      width: 50rem;
      height: 40rem;
      font-size: 20px;
      margin: 1rem 0.5rem;
    }
  
    .input-signup {
      width: 80%;
      font-size: 18px;
    }
  
    .button-signup {
      font-size: 20px;
      width: 12rem;
      height: 2rem;
      margin-top: 2rem;
    }
    .img-logo {
      margin-top: 2rem;
    }
  }