.mental-health-links{
  
  display: flex;
  flex-direction: column;
  text-align: center;
  
}

.section-links{
  margin: 4%;
}

.paragrafo{
  text-align: justify;
  margin-top: 1%;
  margin-bottom: 5%;
}
