*{                 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 

.box-password {
    height: 100%;
    width: 100%;
    overflow-y: auto; 
    background-image: url('../images/pexels-erik-mclean-4065806.jpg');
    background-size: 250% 100%;
    background-repeat: no-repeat;
}

.container-main-password {
    display:flex;
    width: 100%;
    height: 100%;
    margin-left: auto;
    justify-content: center;
    background-color: #cecaca;
}

.logo-img-password {
    height: 10vh;
    width: 30vh;
}

.container-title-password {
   display:flex; 
   text-align: center;
   justify-content: center;
   margin-left: 10px;
}

.title {
    text-align: left;
    font-size: 1rem;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #081E26;
}

.container-subtitle-password {
    display:flex; 
    text-align: center;
    justify-content: center;
    margin-left: 10px; 
}

.subtitle {
    text-align: left;
    font-size: 0.80rem;
    padding-top: 10px;
    padding-bottom: 30px;
    color: #081E26;
}

form {
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 10%;
}

.text-email-password {
    font-size: 0.9rem;
    display: flex;
    margin-left: 30px;
}

.input-email-password {
    border-bottom: 2px solid black;
    padding-top: 20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
    margin-bottom: -20px;
    background-color: none;
    opacity: 0.6;
    border-radius: 10px;
    width: auto;
}

input::placeholder {
    color: rgb(19, 18, 18);
    text-align: center;
    font-size: 0.9rem;   
}

.btn-enter-password {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 70px;
    width: 60%;
    height: 70%;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}


.btn-back-password { 
    margin-top: 80px;
    height: 40%;
    width: 40%;
    border-radius: 5px; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    text-align: center;
}

@media screen and (min-width: 768px) {

    .box-password {
        width: 50%;
        height: 70%;
        background-color: #cecaca;
        background-image: url('../images/pexels-erik-mclean-4065806.jpg') ;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        text-align: center;
        overflow: hidden;
        border-radius: 20px;
        margin-top: 130px;
    }

    .container-main-password {
        background-color: white;
    }

    .btn-enter-password {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 350px;
        width: 30%;
        height: 50%;
        font-size: 1.1rem;
    }

    .btn-back-password {
        width: 15%;
        height: 15%; 
        margin-top: 100px;
    }

    .title {
        font-size: 1.2rem;
        font-weight: 500;
    }

    .subtitle {
        font-weight: 500;
        font-size: 1rem;
    }
}