@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');

#container-password{
    position: relative;
    width: 360px;
    height: 800px;
    background: rgba(140, 128, 128, 0.6);
}

#logo-azul-password{
    position: absolute;
    width: 166px;
    height: 52.72px;
    left: 17px;
    top: 11px;
}

h1#title{
    position: absolute;
    width: 289px;
    height: 14px;
    left: 29px;
    top: 94px;
    font-family: 'Carrois Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

h2#subtitle{
    position: absolute;
    width: 289px;
    height: 44px;
    left: 35px;
    top: 171px;
    font-family: 'Carrois Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

#p{
    position: absolute;
    width: 208px;
    height: 28px;
    left: 35px;
    top: 265px;
    font-family: 'Carrois Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

#email{
    border-style: none;    /*Tentei tirar a borda do input, porém sem sucesso nas linhas 60 a 62 */
    outline: none;
    box-shadow: none;
    position: absolute;
    width: 237px;
    height: 14px;
    left: 29px;
    top: 307px;
    font-family: 'Carrois Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

hr{
    position: absolute;
    width: 269px;
    height: 0px;
    left: 32px;
    top: 333px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #000000;
    border: 1px solid #000000;
}

#enter{
    position: absolute;
    width: 283px;
    height: 53px;
    left: 29px;
    top: 396px;
} 