/* @import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap'); */

/*Este comando estava interferindo na timeline, não dá pra testar agora pq não tem como fazer login*/

*{                 
    padding: 0;
    margin: 0;
    box-sizing: border-box;

} 

.container-main-password{
    display:flex;
    width: 100%;
    height: 100%;
    margin-left: auto;
    justify-content: center;
    align-items: center; 
    background-color: #cecaca;
}

.logo-img-password{
    height: 10vh;
    width: 30vh;
    }


.container-title-password{
   display:flex; 
   text-align: center;
   justify-content: center;
   margin-left: 10px;
}


.title{
    text-align: left;
    font-size: 1rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container-subtitle-password{
    display:flex; 
    text-align: center;
    justify-content: center;
    margin-left: 10px; 
}

.subtitle{
    text-align: left;
    font-size: 0.80rem;
    padding-top: 20px;
    padding-bottom: 30px;
}

form{
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 10%;
}

.text-email-password{
    font-size: 0.9rem;
    display: flex;
}

.input-email-password{
    border-bottom: 2px solid black;
    padding-top: 20px;
    width: 90%;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: 100px;
    background-color: #cecaca;
    
}

input::placeholder{
    color: rgb(141, 138, 138);
    text-align: center;
    font-size: 0.9rem;   
}


.btn-enter-password{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: 15px;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);

}


.btn-back-password{ 
    margin-top: 80px;
    height: 40%;
    width: 40%;
    border-radius: 10px; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    text-align: center;
}

@media screen and (min-width: 768px) {

    .box-password {
        width: 50%;
        height: 70%;
        background-color: #cecaca;
        text-align: center;
        overflow: hidden;
        border-radius: 20px;
    }

    .container-main-password{
        height: 100%;
        width: 100%;
        display: flex;
        background-color: white;
    }

    .btn-enter-password{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 150px; 
        width: 50%;
        height: 50%;
    }

    .btn-back-password{
        width: 15%;
        height: 15%; 
        margin-top: 150px;
    }

    
}