.header-reset {
    flex-direction: column;
    background: #F7DAFF;
    height: 30vh;
}

.btn-cancel-reset {
    font-size: 1em;
    color: #FFFFFF;
    background-color: #9D9D9D;
    border: none;
    border-radius: 30px;
    padding: 0.55rem 1.5rem;
    box-shadow: 1px 3px 3px rgba(94, 94, 94, 0.438);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: none;
}

.reset-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 65vw;
}

.title-desktop {
    display: none;
}

.reset-page {
    height: 50vh;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: linear-gradient(180deg, #F7DAFF 0%, #F7E5FC 37.5%, rgba(227, 252, 249, 0.993333) 62.5%, rgba(228, 255, 247, 0.99) 76.56%, rgba(221, 243, 255, 0) 100%);
}

.reset-text {
    color: #7B2292;
    font-weight: 400;
    font-size: 2em;
    margin-bottom: 1.5rem;
    width: 100%;
    align-self: flex-start;

}

.input-style-reset {
    width: 100%;
    font-size: 1.05em;
    background: white;
    border: none;
    height: 6vh;
    border-radius: 10px;
    text-align: left;
    box-shadow: 2px 3px 3px rgba(94, 94, 94, 0.329);
    padding-left: 1rem;
    align-self: flex-start;
}

.btn-reset {
    font-size: 1.1em;
    color: white;
    background-color: #7B2292;
    border: none;
    border-radius: 30px;
    padding: 0.55rem 1.5rem;
    box-shadow: 1px 3px 3px rgba(94, 94, 94, 0.438);
    padding-top: -2rem;
    margin: 1rem 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    align-self: center;
}

.message-about-reset{
    color: #5F5656;
    width: 100%;
}

.img-logo-login {
    margin-top: 10vh;
    height: 7vh;
}

.btn-cancel-reset:hover, .btn-reset:hover {
    cursor: pointer;
    background-color: black;
    transition: 1.5s;
}

.reset-message {
    color: #5F5656;
}

@media (min-width: 768px) {
    .reset-page {
        padding-top: 15rem;
    }

    .reset-text {
        font-size: 3.5rem;
    }
    
    .message-about-reset, .btn-reset {
        font-size: 2rem;
    }
    
    .reset-form {
        width: 60vw;
        gap: 1.8rem;
    }

    .input-style-reset {
        font-size: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .header-reset {
        display: none;
    }
    
    .reset-page {
        display: flex;
        justify-content: center;
        padding: 0;
        position: absolute;
        width: 55%;
        height: 100vh;
        right: 0;
        margin: 0;
    }
    
    .reset-text {
        display: none;
    }
    
    .message-about-reset {
        font-size: 1rem;
        width: 60%;
        margin-top: 2rem;
    }
    
    .input-style-reset {
        width: 60%;
        align-self: center;
        font-size: 1rem;
    }
    
    .btn-cancel-reset {
        display: inline;
        text-decoration: none;
    }
    
    .reset-form {
        background: #FFFFFFB5;
        height: auto;
        width: 80%;
        border-radius: 5px;
        box-shadow: 2px 3px 3px rgba(94, 94, 94, 0.329);
    }
    
    .btn-reset {
        font-size: 1rem;
        gap: 0.5rem;
        margin: 0;
    }

    .title-desktop {
        color: #7B2292;
        display: block;
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .reset-buttons {
        display: flex;
        gap: 6rem;
        margin-bottom: 2rem;
    }

    .reset-message {
        margin-top: 2rem;
    }
}
