
.main {
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }

.logo {
    margin-top: 2%;
    width: 35%;
  }

  .reset-button {
    background: #49AAD7;
    color: aliceblue;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.507);
    font-size: 14px;
    margin-top: 4%;
    font-weight: 600;
  }