
.main {
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }

.logo {
    width: 35%;
  }

.message-password {
  align-items: center;
  margin-left:5%;
  margin-top:10%;

}

  .input {
  margin-left:5%;

  }


  .reset-btn {
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #49AAD7;
  color: aliceblue;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.507);
  font-size: 15px;
  width: 60%;
  height: 40px;
  margin-top: 4%;
  border: none;
  cursor: pointer;
  font-weight: 600;

  }

  @media screen and (min-width: 1024px) and (max-width: 1700px) {
    body{
      justify-content:space-around;
    }
  
    .logo {
      margin-left: 10%;
      margin-top: 10%;
      width: 30%;
    } 
  
     .field-logo{
      margin: 5%;
      width: 75%;
    } 
  
      .input {
          margin-left:5%;
          width: 250px;
            height: 40px;
            
      }
  
      .reset-btn {
      width: 40%;
        margin-left:30%;
      }
    }