*{
    margin: 0;
    padding: 0;
}
.containerPassword{
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url(../../img/backnovo.png);
    background-repeat: no-repeat;
    justify-content: start;
    padding: 2% 0% 5% 10%;
}
.logoPass{
    margin: 5% 0% 10% 0%;
    width: 50%;
}
.boxModelPass{
    display: flex;
    text-align: center;
    height: 80%;
    align-content: center;
    flex-direction: column;
    color: black;
    background-color: rgba(255, 255 , 255, 0.87) ;
    width: 35%;
    border-radius: 40px;
}
.titleSenha{
    justify-content: center;
    color: black;
}
.inputEmail{
    width: 80%;
    height: 25px;
    text-align: center;
    border-color: black;
    border-radius: 6px;
    margin: 5% 2% 2% 2%;
}
.textError{
    color: red;
}
.msgErro{
    color: red;
}
.ResetPassword{
    box-shadow: 0px 1px 8px -1px #E96F2C;
    border-radius: 18px;
    border: 1px solid #E96F2C;
    color: black;
    font-family:Arial;
    font-weight: bold;
    padding: 2px 19px;
    background-color: #E96F2C;
    border-color: black;
    margin: 5% 0% 5% 0%;
    text-align: center;
    width: 30%;
    font-size: 1rem;
    justify-content: center;
}
.btnBackPass{
    background-color: #E96F2C;
    width: 30%;
    height: 20%;
    box-shadow: 0px 1px 8px -1px #E96F2C;
    border-radius: 18px;
    border: 1px solid #E96F2C;
    border-color: black;
    font-weight: bold;
    font-size: 1em;
}
.sectionBackBtn{
    padding: 5% 10% 25% 10%;
}

@media only screen and (max-width: 768px) and (min-width: 400px){
    .logoPass{
        margin: 5% 0% 10% 0%;
        width: 70%;
    }
    .ResetPassword{
        box-shadow: 0px 1px 8px -1px #E96F2C;
        border-radius: 18px;
        border: 1px solid #E96F2C;
        color: black;
        font-family:Arial;
        font-weight: bold;
        padding: 2px 19px;
        background-color: #E96F2C;
        border-color: black;
        margin: 10% 0% 5% 0%;
        text-align: center;
        width: 30%;
        font-size: 1rem;
        justify-content: center;
    }
}

@media only screen and (max-width: 768px) and (min-width: 400px){

}
