@media only screen and (max-width: 900px) and (min-width: 257px){
    *{
        margin: 0;
        padding: 0;
    }
    .containerPassword{
        display: flex;
        width: 100%;
        height: 100%;
        font-size: 30;
        align-items: center;
        justify-content: center;
        padding: 5% 0% 5% 0%;
        background-image: url(/src/img/back.jpg);
    }
    .logoPass{
        margin: 20% 0% 10% 0%;
        width: 80%;
    }
    .boxModelPass{
        display: flex;
        text-align: center;
        height: 80%;
        align-content: center;
        flex-direction: column;
        color: black;
        background-color: rgba(255, 255 , 255, 0.87) ;
        width: 85%;
        border-radius: 40px;
    }
    .titleSenha{
        justify-content: center;
        color: black;
    }
    .inputEmail{
        width: 80%;
        height: 25px;
        text-align: center;
        border-color: black;
        border-radius: 6px;
        margin: 5% 2% 2% 2%;
    }
    .textError{
        color: red;
    }
    .ResetPassword{
        box-shadow: 0px 1px 8px -1px #1FA48C;
        border-radius: 18px;
        border: 1px solid #1FA48C;
        color: black;
        font-family:Arial;
        font-size: 17px;
        font-weight: bold;
        padding: 2px 19px;
        background-color: #1FA48C;
        border-color: black;
        margin: 5% 0% 5% 0%;
    }
    .btnBack{
        margin: 10% 20% 20% 40%;
        width: 50px;
        height: 30px;
    }
}
