.form {
    font-family: Arial, Helvetica, sans-serif;
}

.name,
.email,
.password,
.buttonSignup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-top: 10px;
}

.buttonSignup {
    padding: 1vw 2vw;
    border-radius: 20px;
    border: 0;
    font-weight: bolder;
    text-transform: uppercase;
}

.buttonSignup:hover {
    background-color: var(--roxo);
    box-shadow: 0px 0px 20px var(--roxo);
    transform: translate(0px, -2px);
    transition: transform 0.5s;
}


