.sectionBe{
    width: 100%;
}
.conteudoBe{
    display: flex;
    padding: 20px;
    flex-direction: column;
    background-color: #ffffff;
    align-items:flex-start;
    width: 96%;
    height: 14%;
    overflow: auto;
    text-align:justify;
 }
 /* Barra de Rolagem */
/* Fundo que corre */
::-webkit-scrollbar-track {
    background-color: #232C3B;
}
/* Fundo que corre */
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
/* Linha que desce */
::-webkit-scrollbar-thumb {
    background: #FE4719;
    border-radius: 15px;
}
/* Linha que desce*/
/* Barra de Rolagem */