body {
    margin: 0px;
    padding: 0px;
    background: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .nav-feed{
    margin: 0px;
    padding: 5%;
    background: #20a2b8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .conj-pesquisar{
    width: 70%;
    display: flex;
    flex-direction: row;
  }
  #caixa-pesquisar{
    border-radius: 10px 0px 0px 10px;
    height: 2rem;
    width: 100%;
    border: 0 none;
  }
  #caixa-pesquisar::placeholder{
    font-size: 1rem;
  }
  #caixa-pesquisar:hover{
    background-color: #e1e1e1;
    transition: 0.2s;
    
  }
  #submit-pesquisar{
    height: 2.0rem;
    width: 20%;
    border-radius: 0px 10px 10px 0px;
    border: none;
    box-shadow: none;
    background-color: #fff;
  }
  #submit-pesquisar:hover{
    background-color: #e1e1e1;
    transition: 0.2s;
    cursor: pointer;
  }
  .botaoLogout{
    cursor: pointer;
    height: 2rem;
    width: 8%;
    border-color:#ffffff;
    border-radius: 3px;
    background: #20a2b8;
    box-shadow:inset 0px 1px 0px 0px #deecde;
    color:rgb(255, 255, 255);
  }
  .botaoLogout:hover {
    background: #ffc248;
  }
  .botaoLogout:active {
    position:relative;
    top:2px;
  }
  .posts{
    width: 100%;
  }
  .criar-posts{
    display: flex;
    padding: 20px;
    flex-direction: column;
    background-color: #eeeeee;
    align-items: center;
  }
  .form-post{
    background-color: #fff;
    border-radius: 20px;
    width: 90%;
  }
  .caixa-de-texto{
    width: 80%;
    padding: 20px;
    border-radius: 15px;
    display: block;
    margin: 10px 0px 0px 10px;
    border: 1px solid #ffc248;
  }
  .caixa-de-texto::placeholder{
    font-size: 1.2rem;
  }
  .caixa-de-texto:hover{
    background: #e1e1e1;
    transition: 0.2s;
  }
  #submit-post{
    background: #fff;
    border: #fff;
    color: #20a2b8;
    width: 10%;
    font-size: 1.4rem;
    margin: 3px;
    border-radius: 10px;
    position: relative;
    left: 85%;
  }
  #submit-post:hover{
    background-color: #e1e1e1;
    transition: 0.1s;
    cursor: pointer;
  }
  #btn-menu{
    display: none;
  }
  .feed-desktop{
    display: flex;
    flex-direction: row;
  }
  #section-pages{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #section-posts{
    width: 80%;
  }
  .link{
    text-decoration: none;
    font-size: 1rem;
    color: rgb(255, 255, 255);
  }
  .btn-pages{
    list-style: none;
    background: #20a2b8;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    margin: 85px 0px;
    color:rgb(255, 255, 255);
  }
  .btn-pages:hover {
    background: #ffc248;
    transition: 1s;
    }
  .btn-pages:active{
    position:relative;
    top:2px;
  }
  @media (max-width: 600px) {
  #btn-menu{
    display: block;
    background-color: #20a2b8;
    border: #20a2b8;
    width: 50%;
  }
  #btn-menu:hover{
    background-color: #ffc248;
    transition: 0.1s;
    cursor: pointer;
  }
  .img-menu{
    width: 100%;
  }
  #section-pages{
    display: none;
    position: absolute;
    width: 100%;
    background: #20a2b8;
    top: 70px;
    right: 0px;
    z-index: 1000;
    align-items: center;
  }
  #section-posts{
    width: 100%;
  }
  #feed.active #section-pages{
    display: block;
  }
  #feed.active .btn-pages{
    background-color: #20a2b8;
    list-style: none;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    margin: 50px 0px;
    width: 100%;
    border-bottom: #318d92;
    border-radius: 0px;
    color:#eeeeee;
  }
  #feed.active .btn-pages:hover{
    background-color: #ffc248;
  }
  .botaoLogout{
    width: 17%;
    margin: 15px;
  }
  }
  @media only screen and (min-width: 600px) {
    .nav-feed{
      margin: 0px;
      padding: 1%;
      background: #20a2b8;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    .conj-pesquisar{
      width: 45%;
      height: 2rem;
      display: flex;
      flex-direction: row;
    }
    #caixa-pesquisar{
      border-radius: 10px 0px 0px 10px;
      height: 1.7rem;
      width: 100%;
    }
    #submit-pesquisar{
      height: 1.7rem;
      width: 20%;
      border-radius: 0px 10px 10px 0px;
      border: none;
      box-shadow: none;
      background-color: #fff;
    }
    .posts{
      width: 100%;
    }
    .criar-posts{
      width: 70% ;
      display: flex;
      padding: 10px;
      flex-direction: column;
      background-color: #eeeeee;
      align-items:center;
    }
    .form-post{
      background-color: #fff;
      border-radius: 10px;
      width: 70%;

    }
    .caixa-de-texto{
      width: 89%;
      padding: 20px;
      border-radius: 15px;
      display: block;
      margin: 10px 0px 0px 10px;
    }
    .botaoLogout{
      width: 5%;
      margin: 7px;
    }
   
  }

