body {
    margin: 0px;
    padding: 0px;
    background: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .nav{
    list-style: none;
    margin: 0px;
    padding: 5%;
    background: #edded7;
    display: flex;
    justify-content: space-between;
  }
  .btn-nav{
    background: #f5f5f5;
    border-radius: 100px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    margin: 5px;
  }
  .link{
    text-decoration: none;
    font-size: 13px;
    color: #000;
  }
  .btn-nav:hover{
    background: #3f5494;
  }
  
  .posts{
    width: 100%;
  }
  .criar-posts{
    display: flex;
    padding: 10px;
    margin: 300px 0px;
  }
  .caixa-de-texto{
    width: 80%;
    padding: 20px;
    border-radius: 15px;
  }
  .caixa-de-texto:hover{
    background: #e1e1e1;
  }
  .submit{
  }
  