* {
    padding: 0;
    margin: 0;
}

.content {
    width: 100%;
    height: 100vh;
    background: #ffffff;
    background-image: url(./img/mulheres.png);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.frase-login {
    font-size: 3rem;
    text-shadow: 1px 1px 10px #20a2b8;
    font-family: IM FELL English SC;
}
.form-login {
    background-color: rgb(255, 255, 255);
    border-radius: 0.8rem;
    width: 120%;
    height: 27rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    box-shadow: #20a2b8 2px 2px;
    margin: 6% 0 27% 0;
}
.form-cx {
    width: 80%;
    color: #1f2d2f;
}
.form-cx input {
    width: 100%;
    height: 1.6rem;
    border-radius: 5px;
    border: 1px solid #20a2b8;
    font-size: 0.rem;
}
.form-cx input:hover {
    background: #afafaf;
}
.form-botaoentrar {
    width: 40%;
}
.form-botaoentrar input {
    border-radius: 15px;
    width: 105%;
    height: 1.6rem;
    background: #20a2b8;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
.form-botaoentrar :hover {
    background: #3F5494;
    transition: 0.1s;
}
.linha-ou {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.linha {
    width: 4rem;
    height: 1%;
    background-color: #000000;
}
.form-google {
    background-color: #C71610;
    border-radius: 2rem;
    padding: 0.3rem;
}
.form-google:hover {
    background: #3F5494;
    transition: 0.1s;
}
.google {
    color: white;
    text-decoration: none;
    margin: 0 0.7rem;
}
.google i {
    margin-right: 1rem;
}
.form-login-all {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media only screen and (min-width: 600px) {
    .content {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction:row;
    }
    .frase-login{
        width: 100%;
        height: 50vh;
        font-size: 4.5rem;
        margin: 85% 0% -400% -100%;
    }
    .form-login {
        width: 170%;
        height: 32rem;
        margin: 15% 0 0 270%;
    }
    .linha {
        width: 8rem;
        height: 1%;
    }
}
