*{
    padding: 0;
    margin: 0; 
}
.content{        
    width: 100%;
    height: 100vh;
    background: #EDDED7;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
}
.logoCookieLogin{
    width: 100%;
    height: 10rem ;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    gap: 3rem;
    align-items: center;
}
.cookie-login{
    width: 5rem;
    height: 5rem;
}
.frase-login{
    font-size: 3rem;
    font-family: IM FELL English SC;
}
.form-login{
    background-color: rgb(255, 255, 255);
    border-radius: 0.8rem;
    width: 100%;
    height: 32rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap:2rem;
}
.form-cx{
    width: 80%;
}
.form-cx input{
    width: 100%;
    height: 1.6rem;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 0.rem;
}
.form-botaoentrar{
    width: 40%;
}
.form-botaoentrar input{
    border-radius: 15px;
    width: 105%;  
    height: 1.6rem;
    background: #3F5494;
    color: white;
    border: none;
    cursor: pointer;
}
.linha-ou{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.9rem;
}
.linha{
    width: 5rem;
    height: 1%;
    background-color: black;
}
.form-google{
    background-color: #C71610;
    border-radius: 2rem;
    padding: 0.3rem;
}
.google{
    color: white;
    text-decoration: none;
    margin: 0 0.7rem;
}
.google i{
    margin-right: 1rem;
}

    

