.tituloRegister{
    position: absolute;
    width: 345px;
    height: 79px;
    left: 160px;
    top: 59px;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 74px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
.register{    
    width: 100%;
    height: 100vh;
    background: #EDDED7;
    display:flex;
    justify-content: center;
    align-items: center;
}
.formRegister{
    background-color: white;
    border-radius: 0.8rem;
    width: 70%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#formRegister{
    width: 60%;
}
#formRegister input{
    width: 100%;
    height: 1rem;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 0.6rem;
}
#form-cadastrarRegister{
    width: 30%;
}
#form-cadastrarRegister input{
    border-radius: 10px;
    width: 100%;  
    height: 1.2rem;
    background: #3F5494;
    color: white;
    border: none;
    cursor: pointer;
}
.linha-ou{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.linha{
    width: 4rem;
    height: 1%;
    background-color: black;
}

#voltarRegister{
    position: absolute;
    width: 28px;
    height: 20px;
    left: 19px;
    top: 11px;
    background: url(return.png);
}

#cookieRegister{
    position: absolute;
    width: 100px;
    height: 101px;
    left: 1147px;
    top: 35px;
}
