* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e9e9e9;
  font-family: "dongle", sans-serif;
  font-size: 1.5rem;

  -webkit-font-smoothing: antialiased !important;
}

header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  padding: 1rem;
}

li {
  list-style: none;
}

.header-nav {
  position: relative;
  display: flex;
}

.green-logo {
  height: 2.5rem;
  width: 2.5rem;
}

.menu-icon ion-icon {
  color: #00a57a;
  height: 2.5rem;
  width: 2.5rem;
}

#internalContentMenu {
  background-color: #d9d9d9;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  height: 14rem;
  width: 12rem;
  margin-top: 0.5rem;
  padding: 1.5rem;

  display: none;
}

#internalContentMenu ul li a {
  color: #535050;
  text-decoration: none;
}

.footer-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5rem;

  margin-top: 50vh;
}

.footer-nav a {
  color: #00a57a;
  text-decoration: none;
}

.footer-icon {
  display: block;
  height: 1.3rem;
  position: relative;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .menu-icon {
    display: none;
  }

  .green-logo {
    display: block;
    height: 6rem;
    width: 6rem;
    margin-left: 3rem;
    position: absolute;
  }

  body {
    display: flex;
    justify-content: left;
    font-size: 2rem;
  }

  header {
    box-shadow: 0.1rem 0 0 #d2d0d0;
    width: 15rem;
    height: 100vh;
    position: relative;
  }

  #internalContentMenu {
    background-color: #e9e9e9;
    border-radius: 0;
    padding: 0;
    display: block;
    margin-top: 23rem;
    margin-left: 2rem;
    width: 12rem;
  }

  .header-nav ion-icon {
    color: #00a57a;
    height: 2rem;
    width: 2rem;
  }

  .side-internal-icon {
    background-color: #e9e9e9;
  }

  .side-internal-list {
    background-color: #e9e9e9;
  }

  .desk-all {
    position: absolute;
    margin-top: 7rem;
  }

  .footer-nav ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: 3rem;
    margin-top: 10rem;
  }

  .footer-nav li a {
    display: flex;
  }

  .footer-icon ion-icon {
    height: 2rem;
    width: 2rem;
    color: #00a57a;
    margin-right: 0.5rem;
  }

  .footer-list {
    color: #535050;
  }
}
