@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Roboto+Slab&display=swap');

body {
  background-color: #131b1f;
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  justify-content: center;
}

.frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 257px;
  height: 368px;
  border: 1px solid #ffffff;
  background: transparent;
  margin-top: 25%;

}

.lines {
  display: flex;
  font-size: 18px;
}

hr {
  margin: auto 0 auto 0;
  width: 12vh;

}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin-btn {
  -webkit-text-stroke-width: 0.5px;
  border-color: White;
  background-color: transparent;
  color: #ffffff;
  width: 187px;
  height: 32px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

#email-signin-btn {
  cursor: pointer;
}

#ok-form-btn {
  width: fit-content;
  height: fit-content;
  background-color: #ab6930;
  color: #ffffff;
  padding: 10% 50%;
  border: none; 

}

#ok-login-btn {
  font-size: 14px;
  background-color: #7a7a7a;
  color: #ffffff;
  width: 36px;
  border: none;
  height: 37px;
  margin-left: -4px;
}

.google-icon {
  width: 16px;
  height: 16px;
}

.pswd-login {
  width: 150px;
}

.titles {
  font-size: 4vh;
  font-weight: 300;
  align-self: start;
  margin-left: 14%;
}

.instructions {
  font-size: 60%;
  align-self: start;
  margin-left: 14%;
}

.cta {
  color: #ab6930;
}

.policies-container {
  display: flex;  
}

.policies {
  font-size: 60%;
  margin: 0;
}

#checkbox {
  width: 15%;
  margin: 5%;
}

input {
  color: #ffffff;
  width: 187px;
  height: 32px;
  font-size: 14px;
}

footer {
  bottom: 0;
  position: fixed;
}

.colorful {
  border-color: #ab6930;
  width: 100%;
}

.iconsContainer {
  display: flex;
  justify-content: space-around;
  width: 376px;
  height: 78px;
}

.iconsSize {
  width: 40px;
  height: 70px; 
  filter: invert(99%) sepia(5%) saturate(19%) hue-rotate(215deg) brightness(105%) contrast(100%);
}

.timelineContainer {
  width: 376px;
  height: 470px;
}