@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Roboto+Slab&display=swap');

body {
    background-color: #131b1f;
    color:#ffffff;
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  .frame {
    width:404px;
      height:275px;
      border:1px solid #ffffff;
      background:transparent 
  }
  
  .lines {
    display: flex;
    font-size: 18px;
  }
  
  hr {
    margin-top:auto;
    margin-bottom:auto;
    margin:auto 0 auto 0;
    width:12%;
    
  }
  
  button {
    -webkit-text-stroke-width: 0.5px;
    border-color: White;
    background-color: transparent;
    color:#ffffff;
    width: 187px;
    height: 32px;
    font-size:14px;
  }
  
  .titles {
    font-size:25px;
  }
  
  .instructions {
    font-size:10px;
  }
  
  .cta {
    color: #ab6930;
  }