html, body {
    margin: 0;
    padding: 0;
}

.initial-page {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-initial-page {
    margin: 0;
    height: 78vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
}

.img-logo {
    width: 15rem;
}

.button-initial-page {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    background-color: #FFFFFF;
    position: absolute;
    top: 82%;
}

.btn-initial-page {
    border: solid 2px black;
    padding: 0.5rem;
    background-color: #FFFFFF;
    width: 9rem;
    height: 2.5rem;
    font-size: medium;
}

.btn-initial-page:hover {
    background-color: black;
    color: #FFFFFF;
    transition: 0.5s;
    cursor: pointer;
}

.footer {
    background: #fff;
    width: 100%;
    height: 7.5vh;
    position: absolute;
    font-size: small;
    border-top: solid 1px black;
    bottom: 0;
}

.list-footer {
    display: flex;
    margin-top: 0.5rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

footer a {
    list-style: none;
    text-decoration: none;
    color: #000000;
}

.developed-by {
    width: 8rem;
}

.about {
    font-size: 1rem;
    text-decoration: underline;
    padding-left: 2.5rem;
}

.background-video {
    display: none;
}

.background-video-mobile {
    width: 100vw;
    height: 82vh;
    object-fit: fill;
    opacity: 82%;
    position: fixed;
    top: 0;
}

@media (min-aspect-ratio: 16/9) {
    .background-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .background-video {
        width: auto;
        height: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .background-video-mobile {
        height: 82vh;
        object-fit: fill;
        opacity: 75%;
        /* position: fixed;
        left: 0;
        right: 0; */
        top: 0;
        bottom: 0;
        z-index: -1;
    }
}